=begin
#Kombo API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Kombo
  class AIApplyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get applications
    # Get all applications.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :job_posting_ids Filter by a comma-separated list of job posting IDs such as &#x60;89V6GEKpdZwqbxQz59n1ftFb,kcGHREEXCMF26Yhpuyh1gDVE&#x60;.
    # @return [GetAiApplyApplicationsPositiveResponse]
    def get_ai_apply_applications(opts = {})
      data, _status_code, _headers = get_ai_apply_applications_with_http_info(opts)
      data
    end

    # Get applications
    # Get all applications.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :job_posting_ids Filter by a comma-separated list of job posting IDs such as &#x60;89V6GEKpdZwqbxQz59n1ftFb,kcGHREEXCMF26Yhpuyh1gDVE&#x60;.
    # @return [Array<(GetAiApplyApplicationsPositiveResponse, Integer, Hash)>] GetAiApplyApplicationsPositiveResponse data, response status code and response headers
    def get_ai_apply_applications_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIApplyApi.get_ai_apply_applications ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AIApplyApi.get_ai_apply_applications, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AIApplyApi.get_ai_apply_applications, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ai-apply/applications'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'job_posting_ids'] = opts[:'job_posting_ids'] if !opts[:'job_posting_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAiApplyApplicationsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"AIApplyApi.get_ai_apply_applications",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIApplyApi#get_ai_apply_applications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get career sites
    # Get all career sites.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @return [GetAiApplyCareerSitesPositiveResponse]
    def get_ai_apply_career_sites(opts = {})
      data, _status_code, _headers = get_ai_apply_career_sites_with_http_info(opts)
      data
    end

    # Get career sites
    # Get all career sites.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @return [Array<(GetAiApplyCareerSitesPositiveResponse, Integer, Hash)>] GetAiApplyCareerSitesPositiveResponse data, response status code and response headers
    def get_ai_apply_career_sites_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIApplyApi.get_ai_apply_career_sites ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AIApplyApi.get_ai_apply_career_sites, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AIApplyApi.get_ai_apply_career_sites, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ai-apply/career-sites'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAiApplyCareerSitesPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"AIApplyApi.get_ai_apply_career_sites",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIApplyApi#get_ai_apply_career_sites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get job postings
    # Get all job postings. To get the application form and submit applications, use the POST /postings/:id/inquire endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :career_site_ids Filter by a comma-separated list of career site IDs such as &#x60;A8m9k9RhjNokMfRTWtpQ99VtH,rCbkAA3pvcKjsFYwEeXtCQkc&#x60;.
    # @option opts [String] :job_codes Filter by a comma-separated list of job codes such as &#x60;ACME_13,ACME_14&#x60;.
    # @return [GetAiApplyPostingsPositiveResponse]
    def get_ai_apply_postings(opts = {})
      data, _status_code, _headers = get_ai_apply_postings_with_http_info(opts)
      data
    end

    # Get job postings
    # Get all job postings. To get the application form and submit applications, use the POST /postings/:id/inquire endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :career_site_ids Filter by a comma-separated list of career site IDs such as &#x60;A8m9k9RhjNokMfRTWtpQ99VtH,rCbkAA3pvcKjsFYwEeXtCQkc&#x60;.
    # @option opts [String] :job_codes Filter by a comma-separated list of job codes such as &#x60;ACME_13,ACME_14&#x60;.
    # @return [Array<(GetAiApplyPostingsPositiveResponse, Integer, Hash)>] GetAiApplyPostingsPositiveResponse data, response status code and response headers
    def get_ai_apply_postings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIApplyApi.get_ai_apply_postings ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AIApplyApi.get_ai_apply_postings, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AIApplyApi.get_ai_apply_postings, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ai-apply/postings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'career_site_ids'] = opts[:'career_site_ids'] if !opts[:'career_site_ids'].nil?
      query_params[:'job_codes'] = opts[:'job_codes'] if !opts[:'job_codes'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAiApplyPostingsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"AIApplyApi.get_ai_apply_postings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIApplyApi#get_ai_apply_postings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get jobs
    # Get jobs in a backwards compatible way as you would [via Kombo's unified API](https://docs.kombo.dev/ats/v1/get-jobs). This is not the recommended way to get jobs with AI Apply.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 5. (default to 5)
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids This parameter exists for backwards compatibility with Kombo&#39;s unified API. Supplying a comma-separated list of remote IDs such as &#x60;32,33&#x60; will return no jobs because AI Apply does not interface with a remote system that issues remote IDs.
    # @option opts [String] :job_codes Filter by a comma-separated list of job codes such as &#x60;ACME_12,ACME_14&#x60;.
    # @option opts [String] :career_site_ids Filter by a comma-separated list of career site IDs such as &#x60;A8m9k9RhjNokMfRTWtpQ99VtH,rCbkAA3pvcKjsFYwEeXtCQkc&#x60;.
    # @return [GetAiApplyUnifiedApiJobsPositiveResponse]
    def get_ai_apply_unified_api_jobs(opts = {})
      data, _status_code, _headers = get_ai_apply_unified_api_jobs_with_http_info(opts)
      data
    end

    # Get jobs
    # Get jobs in a backwards compatible way as you would [via Kombo&#39;s unified API](https://docs.kombo.dev/ats/v1/get-jobs). This is not the recommended way to get jobs with AI Apply.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 5. (default to 5)
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids This parameter exists for backwards compatibility with Kombo&#39;s unified API. Supplying a comma-separated list of remote IDs such as &#x60;32,33&#x60; will return no jobs because AI Apply does not interface with a remote system that issues remote IDs.
    # @option opts [String] :job_codes Filter by a comma-separated list of job codes such as &#x60;ACME_12,ACME_14&#x60;.
    # @option opts [String] :career_site_ids Filter by a comma-separated list of career site IDs such as &#x60;A8m9k9RhjNokMfRTWtpQ99VtH,rCbkAA3pvcKjsFYwEeXtCQkc&#x60;.
    # @return [Array<(GetAiApplyUnifiedApiJobsPositiveResponse, Integer, Hash)>] GetAiApplyUnifiedApiJobsPositiveResponse data, response status code and response headers
    def get_ai_apply_unified_api_jobs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIApplyApi.get_ai_apply_unified_api_jobs ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 5
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AIApplyApi.get_ai_apply_unified_api_jobs, must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AIApplyApi.get_ai_apply_unified_api_jobs, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ai-apply/unified-api/jobs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'remote_ids'] = opts[:'remote_ids'] if !opts[:'remote_ids'].nil?
      query_params[:'job_codes'] = opts[:'job_codes'] if !opts[:'job_codes'].nil?
      query_params[:'career_site_ids'] = opts[:'career_site_ids'] if !opts[:'career_site_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAiApplyUnifiedApiJobsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"AIApplyApi.get_ai_apply_unified_api_jobs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIApplyApi#get_ai_apply_unified_api_jobs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submit job application
    # Submit a job application using a submission token. The application will be queued and processed asynchronously. Returns ID to track progress and match with webhooks.
    # @param [Hash] opts the optional parameters
    # @option opts [PostAiApplyApplyRequestBody] :post_ai_apply_apply_request_body POST /ai-apply/apply Request body
    # @return [PostAiApplyApplyPositiveResponse]
    def post_ai_apply_apply(opts = {})
      data, _status_code, _headers = post_ai_apply_apply_with_http_info(opts)
      data
    end

    # Submit job application
    # Submit a job application using a submission token. The application will be queued and processed asynchronously. Returns ID to track progress and match with webhooks.
    # @param [Hash] opts the optional parameters
    # @option opts [PostAiApplyApplyRequestBody] :post_ai_apply_apply_request_body POST /ai-apply/apply Request body
    # @return [Array<(PostAiApplyApplyPositiveResponse, Integer, Hash)>] PostAiApplyApplyPositiveResponse data, response status code and response headers
    def post_ai_apply_apply_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIApplyApi.post_ai_apply_apply ...'
      end
      # resource path
      local_var_path = '/ai-apply/apply'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_ai_apply_apply_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostAiApplyApplyPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"AIApplyApi.post_ai_apply_apply",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIApplyApi#post_ai_apply_apply\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a career site
    # Create a career site entry. Career sites are required to be specified when parsing job postings, grouping them under a single entity.
    # @param [Hash] opts the optional parameters
    # @option opts [PostAiApplyCareerSitesRequestBody] :post_ai_apply_career_sites_request_body POST /ai-apply/career-sites Request body
    # @return [PostAiApplyCareerSitesPositiveResponse]
    def post_ai_apply_career_sites(opts = {})
      data, _status_code, _headers = post_ai_apply_career_sites_with_http_info(opts)
      data
    end

    # Create a career site
    # Create a career site entry. Career sites are required to be specified when parsing job postings, grouping them under a single entity.
    # @param [Hash] opts the optional parameters
    # @option opts [PostAiApplyCareerSitesRequestBody] :post_ai_apply_career_sites_request_body POST /ai-apply/career-sites Request body
    # @return [Array<(PostAiApplyCareerSitesPositiveResponse, Integer, Hash)>] PostAiApplyCareerSitesPositiveResponse data, response status code and response headers
    def post_ai_apply_career_sites_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIApplyApi.post_ai_apply_career_sites ...'
      end
      # resource path
      local_var_path = '/ai-apply/career-sites'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_ai_apply_career_sites_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostAiApplyCareerSitesPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"AIApplyApi.post_ai_apply_career_sites",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIApplyApi#post_ai_apply_career_sites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Parse a job posting
    # Submit a job posting URL to be parsed asynchronously. Returns ID to track progress.
    # @param [Hash] opts the optional parameters
    # @option opts [PostAiApplyPostingsRequestBody] :post_ai_apply_postings_request_body POST /ai-apply/postings Request body
    # @return [PostAiApplyPostingsPositiveResponse]
    def post_ai_apply_postings(opts = {})
      data, _status_code, _headers = post_ai_apply_postings_with_http_info(opts)
      data
    end

    # Parse a job posting
    # Submit a job posting URL to be parsed asynchronously. Returns ID to track progress.
    # @param [Hash] opts the optional parameters
    # @option opts [PostAiApplyPostingsRequestBody] :post_ai_apply_postings_request_body POST /ai-apply/postings Request body
    # @return [Array<(PostAiApplyPostingsPositiveResponse, Integer, Hash)>] PostAiApplyPostingsPositiveResponse data, response status code and response headers
    def post_ai_apply_postings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIApplyApi.post_ai_apply_postings ...'
      end
      # resource path
      local_var_path = '/ai-apply/postings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_ai_apply_postings_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostAiApplyPostingsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"AIApplyApi.post_ai_apply_postings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIApplyApi#post_ai_apply_postings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Inquire about a job posting and the application f…
    # Receive the application form (screening questions) for a job posting and a submission token. This endpoint must be called before submitting an application to ensure you have the latest questions and a valid submission token. The submission token is valid for 12 hours and prevents duplicate submissions. The application form may contain conditional questions that are only shown based on answers to previous questions (check the display_when field).
    # @param posting_id [String] The globally unique ID of this object generated by Kombo. We recommend using this as a stable primary key for syncing.
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body POST /ai-apply/postings/:posting_id/inquire Request body
    # @return [PostAiApplyPostingsPostingIdInquirePositiveResponse]
    def post_ai_apply_postings_posting_id_inquire(posting_id, opts = {})
      data, _status_code, _headers = post_ai_apply_postings_posting_id_inquire_with_http_info(posting_id, opts)
      data
    end

    # Inquire about a job posting and the application f…
    # Receive the application form (screening questions) for a job posting and a submission token. This endpoint must be called before submitting an application to ensure you have the latest questions and a valid submission token. The submission token is valid for 12 hours and prevents duplicate submissions. The application form may contain conditional questions that are only shown based on answers to previous questions (check the display_when field).
    # @param posting_id [String] The globally unique ID of this object generated by Kombo. We recommend using this as a stable primary key for syncing.
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body POST /ai-apply/postings/:posting_id/inquire Request body
    # @return [Array<(PostAiApplyPostingsPostingIdInquirePositiveResponse, Integer, Hash)>] PostAiApplyPostingsPostingIdInquirePositiveResponse data, response status code and response headers
    def post_ai_apply_postings_posting_id_inquire_with_http_info(posting_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIApplyApi.post_ai_apply_postings_posting_id_inquire ...'
      end
      # verify the required parameter 'posting_id' is set
      if @api_client.config.client_side_validation && posting_id.nil?
        fail ArgumentError, "Missing the required parameter 'posting_id' when calling AIApplyApi.post_ai_apply_postings_posting_id_inquire"
      end
      # resource path
      local_var_path = '/ai-apply/postings/{posting_id}/inquire'.sub('{' + 'posting_id' + '}', CGI.escape(posting_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostAiApplyPostingsPostingIdInquirePositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"AIApplyApi.post_ai_apply_postings_posting_id_inquire",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIApplyApi#post_ai_apply_postings_posting_id_inquire\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Re-parse an existing job posting
    # Trigger re-parsing of an already parsed job posting.
    # @param posting_id [String] The ID of the job posting to parse a new revision for
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body POST /ai-apply/postings/:posting_id/parse Request body
    # @return [PostAiApplyPostingsPostingIdParsePositiveResponse]
    def post_ai_apply_postings_posting_id_parse(posting_id, opts = {})
      data, _status_code, _headers = post_ai_apply_postings_posting_id_parse_with_http_info(posting_id, opts)
      data
    end

    # Re-parse an existing job posting
    # Trigger re-parsing of an already parsed job posting.
    # @param posting_id [String] The ID of the job posting to parse a new revision for
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body POST /ai-apply/postings/:posting_id/parse Request body
    # @return [Array<(PostAiApplyPostingsPostingIdParsePositiveResponse, Integer, Hash)>] PostAiApplyPostingsPostingIdParsePositiveResponse data, response status code and response headers
    def post_ai_apply_postings_posting_id_parse_with_http_info(posting_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIApplyApi.post_ai_apply_postings_posting_id_parse ...'
      end
      # verify the required parameter 'posting_id' is set
      if @api_client.config.client_side_validation && posting_id.nil?
        fail ArgumentError, "Missing the required parameter 'posting_id' when calling AIApplyApi.post_ai_apply_postings_posting_id_parse"
      end
      # resource path
      local_var_path = '/ai-apply/postings/{posting_id}/parse'.sub('{' + 'posting_id' + '}', CGI.escape(posting_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostAiApplyPostingsPostingIdParsePositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"AIApplyApi.post_ai_apply_postings_posting_id_parse",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIApplyApi#post_ai_apply_postings_posting_id_parse\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create application
    # Create applications in a backwards compatible way as you would [via Kombo's unified API](https://docs.kombo.dev/ats/v1/post-jobs-job-id-applications). This is not the recommended way to create applications with AI Apply.
    # @param job_id [String] The Kombo ID or Remote ID of the Job this candidate should apply for. If you want to use the ID of the integrated system (remote_id) you need to prefix the id with \&quot;remote:\&quot;. You can use the remote ID if you do not want to sync jobs.
    # @param [Hash] opts the optional parameters
    # @option opts [PostAiApplyUnifiedApiJobsJobIdApplicationsRequestBody] :post_ai_apply_unified_api_jobs_job_id_applications_request_body POST /ai-apply/unified-api/jobs/:job_id/applications Request body
    # @return [PostAiApplyUnifiedApiJobsJobIdApplicationsPositiveResponse]
    def post_ai_apply_unified_api_jobs_job_id_applications(job_id, opts = {})
      data, _status_code, _headers = post_ai_apply_unified_api_jobs_job_id_applications_with_http_info(job_id, opts)
      data
    end

    # Create application
    # Create applications in a backwards compatible way as you would [via Kombo&#39;s unified API](https://docs.kombo.dev/ats/v1/post-jobs-job-id-applications). This is not the recommended way to create applications with AI Apply.
    # @param job_id [String] The Kombo ID or Remote ID of the Job this candidate should apply for. If you want to use the ID of the integrated system (remote_id) you need to prefix the id with \&quot;remote:\&quot;. You can use the remote ID if you do not want to sync jobs.
    # @param [Hash] opts the optional parameters
    # @option opts [PostAiApplyUnifiedApiJobsJobIdApplicationsRequestBody] :post_ai_apply_unified_api_jobs_job_id_applications_request_body POST /ai-apply/unified-api/jobs/:job_id/applications Request body
    # @return [Array<(PostAiApplyUnifiedApiJobsJobIdApplicationsPositiveResponse, Integer, Hash)>] PostAiApplyUnifiedApiJobsJobIdApplicationsPositiveResponse data, response status code and response headers
    def post_ai_apply_unified_api_jobs_job_id_applications_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIApplyApi.post_ai_apply_unified_api_jobs_job_id_applications ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling AIApplyApi.post_ai_apply_unified_api_jobs_job_id_applications"
      end
      # resource path
      local_var_path = '/ai-apply/unified-api/jobs/{job_id}/applications'.sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_ai_apply_unified_api_jobs_job_id_applications_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostAiApplyUnifiedApiJobsJobIdApplicationsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"AIApplyApi.post_ai_apply_unified_api_jobs_job_id_applications",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIApplyApi#post_ai_apply_unified_api_jobs_job_id_applications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
