=begin
#Kombo API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Kombo
  class CustomEndpointsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve available documents
    # Use this endpoint to get all available documents for a specific period.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param period [String] Provide the period in the format YYYY-MM-DD for which to check for available documents.
    # @param [Hash] opts the optional parameters
    # @return [GetCustomDatevAvailableDocumentsPositiveResponse]
    def get_custom_datev_available_documents(x_integration_id, period, opts = {})
      data, _status_code, _headers = get_custom_datev_available_documents_with_http_info(x_integration_id, period, opts)
      data
    end

    # Retrieve available documents
    # Use this endpoint to get all available documents for a specific period.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param period [String] Provide the period in the format YYYY-MM-DD for which to check for available documents.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCustomDatevAvailableDocumentsPositiveResponse, Integer, Hash)>] GetCustomDatevAvailableDocumentsPositiveResponse data, response status code and response headers
    def get_custom_datev_available_documents_with_http_info(x_integration_id, period, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEndpointsApi.get_custom_datev_available_documents ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling CustomEndpointsApi.get_custom_datev_available_documents"
      end
      # verify the required parameter 'period' is set
      if @api_client.config.client_side_validation && period.nil?
        fail ArgumentError, "Missing the required parameter 'period' when calling CustomEndpointsApi.get_custom_datev_available_documents"
      end
      # resource path
      local_var_path = '/custom/datev/available-documents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'period'] = period

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCustomDatevAvailableDocumentsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CustomEndpointsApi.get_custom_datev_available_documents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEndpointsApi#get_custom_datev_available_documents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify service is enabled
    # This endpoint returns the available document types for this DATEV integration.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @return [GetCustomDatevCheckDocumentPermissionPositiveResponse]
    def get_custom_datev_check_document_permission(x_integration_id, opts = {})
      data, _status_code, _headers = get_custom_datev_check_document_permission_with_http_info(x_integration_id, opts)
      data
    end

    # Verify service is enabled
    # This endpoint returns the available document types for this DATEV integration.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCustomDatevCheckDocumentPermissionPositiveResponse, Integer, Hash)>] GetCustomDatevCheckDocumentPermissionPositiveResponse data, response status code and response headers
    def get_custom_datev_check_document_permission_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEndpointsApi.get_custom_datev_check_document_permission ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling CustomEndpointsApi.get_custom_datev_check_document_permission"
      end
      # resource path
      local_var_path = '/custom/datev/check-document-permission'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCustomDatevCheckDocumentPermissionPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CustomEndpointsApi.get_custom_datev_check_document_permission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEndpointsApi#get_custom_datev_check_document_permission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify service is enabled
    # This endpoint validates that this DATEV integration is ready to use the eAU feature.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @return [GetCustomDatevCheckEauPermissionPositiveResponse]
    def get_custom_datev_check_eau_permission(x_integration_id, opts = {})
      data, _status_code, _headers = get_custom_datev_check_eau_permission_with_http_info(x_integration_id, opts)
      data
    end

    # Verify service is enabled
    # This endpoint validates that this DATEV integration is ready to use the eAU feature.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCustomDatevCheckEauPermissionPositiveResponse, Integer, Hash)>] GetCustomDatevCheckEauPermissionPositiveResponse data, response status code and response headers
    def get_custom_datev_check_eau_permission_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEndpointsApi.get_custom_datev_check_eau_permission ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling CustomEndpointsApi.get_custom_datev_check_eau_permission"
      end
      # resource path
      local_var_path = '/custom/datev/check-eau-permission'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCustomDatevCheckEauPermissionPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CustomEndpointsApi.get_custom_datev_check_eau_permission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEndpointsApi#get_custom_datev_check_eau_permission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify service is enabled
    # This endpoint returns whether you can write to this DATEV integration.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @return [GetCustomDatevCheckWritePermissionPositiveResponse]
    def get_custom_datev_check_write_permission(x_integration_id, opts = {})
      data, _status_code, _headers = get_custom_datev_check_write_permission_with_http_info(x_integration_id, opts)
      data
    end

    # Verify service is enabled
    # This endpoint returns whether you can write to this DATEV integration.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCustomDatevCheckWritePermissionPositiveResponse, Integer, Hash)>] GetCustomDatevCheckWritePermissionPositiveResponse data, response status code and response headers
    def get_custom_datev_check_write_permission_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEndpointsApi.get_custom_datev_check_write_permission ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling CustomEndpointsApi.get_custom_datev_check_write_permission"
      end
      # resource path
      local_var_path = '/custom/datev/check-write-permission'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCustomDatevCheckWritePermissionPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CustomEndpointsApi.get_custom_datev_check_write_permission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEndpointsApi#get_custom_datev_check_write_permission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DATEV data pushes
    # Returns all \"DATEV Data Pushes\" of the last 2 months. You can use this endpoint to give your users transparency about submitted \"ASCII-Files\" and their status. Each data push can contain multiple files that were submitted.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @return [GetCustomDatevDataPushesPositiveResponse]
    def get_custom_datev_data_pushes(x_integration_id, opts = {})
      data, _status_code, _headers = get_custom_datev_data_pushes_with_http_info(x_integration_id, opts)
      data
    end

    # Get DATEV data pushes
    # Returns all \&quot;DATEV Data Pushes\&quot; of the last 2 months. You can use this endpoint to give your users transparency about submitted \&quot;ASCII-Files\&quot; and their status. Each data push can contain multiple files that were submitted.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCustomDatevDataPushesPositiveResponse, Integer, Hash)>] GetCustomDatevDataPushesPositiveResponse data, response status code and response headers
    def get_custom_datev_data_pushes_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEndpointsApi.get_custom_datev_data_pushes ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling CustomEndpointsApi.get_custom_datev_data_pushes"
      end
      # resource path
      local_var_path = '/custom/datev/data-pushes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCustomDatevDataPushesPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CustomEndpointsApi.get_custom_datev_data_pushes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEndpointsApi#get_custom_datev_data_pushes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query the status of the eAU request
    # This endpoint queries the status of the eAU request for the given DATEV integration.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param eau_id [String] GET /custom/datev/eau-requests/:eau_id Parameter
    # @param [Hash] opts the optional parameters
    # @return [GetCustomDatevEauRequestsEauIdPositiveResponse]
    def get_custom_datev_eau_requests_eau_id(x_integration_id, eau_id, opts = {})
      data, _status_code, _headers = get_custom_datev_eau_requests_eau_id_with_http_info(x_integration_id, eau_id, opts)
      data
    end

    # Query the status of the eAU request
    # This endpoint queries the status of the eAU request for the given DATEV integration.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param eau_id [String] GET /custom/datev/eau-requests/:eau_id Parameter
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCustomDatevEauRequestsEauIdPositiveResponse, Integer, Hash)>] GetCustomDatevEauRequestsEauIdPositiveResponse data, response status code and response headers
    def get_custom_datev_eau_requests_eau_id_with_http_info(x_integration_id, eau_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEndpointsApi.get_custom_datev_eau_requests_eau_id ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling CustomEndpointsApi.get_custom_datev_eau_requests_eau_id"
      end
      # verify the required parameter 'eau_id' is set
      if @api_client.config.client_side_validation && eau_id.nil?
        fail ArgumentError, "Missing the required parameter 'eau_id' when calling CustomEndpointsApi.get_custom_datev_eau_requests_eau_id"
      end
      # resource path
      local_var_path = '/custom/datev/eau-requests/{eau_id}'.sub('{' + 'eau_id' + '}', CGI.escape(eau_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCustomDatevEauRequestsEauIdPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CustomEndpointsApi.get_custom_datev_eau_requests_eau_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEndpointsApi#get_custom_datev_eau_requests_eau_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DATEV system information
    # This endpoint returns BeraterNr (consultant_number), MandantenNr (client_number) and the payroll system (LODAS or Lohn und Gehalt). Useful to generate a DATEV ASCII file for the passthrough endpoint.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @return [GetCustomDatevSystemInformationPositiveResponse]
    def get_custom_datev_system_information(x_integration_id, opts = {})
      data, _status_code, _headers = get_custom_datev_system_information_with_http_info(x_integration_id, opts)
      data
    end

    # Get DATEV system information
    # This endpoint returns BeraterNr (consultant_number), MandantenNr (client_number) and the payroll system (LODAS or Lohn und Gehalt). Useful to generate a DATEV ASCII file for the passthrough endpoint.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCustomDatevSystemInformationPositiveResponse, Integer, Hash)>] GetCustomDatevSystemInformationPositiveResponse data, response status code and response headers
    def get_custom_datev_system_information_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEndpointsApi.get_custom_datev_system_information ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling CustomEndpointsApi.get_custom_datev_system_information"
      end
      # resource path
      local_var_path = '/custom/datev/system-information'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCustomDatevSystemInformationPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CustomEndpointsApi.get_custom_datev_system_information",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEndpointsApi#get_custom_datev_system_information\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download Payroll Document
    # Download a document from DATEV  <Note>   This endpoint requires the permission **Manage documents** to be enabled in [your scope config](/scopes). </Note>  ### Example Request Body  ```json {   \"accounting_month\": \"2001-12-01\",   \"document_type\": \"LOJE\",   \"employee_id\": null } ```
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [PostCustomDatevDownloadDocumentRequestBody] :post_custom_datev_download_document_request_body POST /custom/datev/download-document Request body
    # @return [PostCustomDatevDownloadDocumentPositiveResponse]
    def post_custom_datev_download_document(x_integration_id, opts = {})
      data, _status_code, _headers = post_custom_datev_download_document_with_http_info(x_integration_id, opts)
      data
    end

    # Download Payroll Document
    # Download a document from DATEV  &lt;Note&gt;   This endpoint requires the permission **Manage documents** to be enabled in [your scope config](/scopes). &lt;/Note&gt;  ### Example Request Body  &#x60;&#x60;&#x60;json {   \&quot;accounting_month\&quot;: \&quot;2001-12-01\&quot;,   \&quot;document_type\&quot;: \&quot;LOJE\&quot;,   \&quot;employee_id\&quot;: null } &#x60;&#x60;&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [PostCustomDatevDownloadDocumentRequestBody] :post_custom_datev_download_document_request_body POST /custom/datev/download-document Request body
    # @return [Array<(PostCustomDatevDownloadDocumentPositiveResponse, Integer, Hash)>] PostCustomDatevDownloadDocumentPositiveResponse data, response status code and response headers
    def post_custom_datev_download_document_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEndpointsApi.post_custom_datev_download_document ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling CustomEndpointsApi.post_custom_datev_download_document"
      end
      # resource path
      local_var_path = '/custom/datev/download-document'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_custom_datev_download_document_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostCustomDatevDownloadDocumentPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CustomEndpointsApi.post_custom_datev_download_document",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEndpointsApi#post_custom_datev_download_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download Payroll Document
    # Download a document from DATEV  <Note>   This endpoint requires the permission **Manage documents** to be enabled in [your scope config](/scopes). </Note>  ### Example Request Body  ```json {   \"accounting_month\": \"2001-12-01\",   \"document_type\": \"LOJE\" } ```
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param employee_id [String] POST /custom/datev/employees/:employee_id/download-document Parameter
    # @param [Hash] opts the optional parameters
    # @option opts [PostCustomDatevEmployeesEmployeeIdDownloadDocumentRequestBody] :post_custom_datev_employees_employee_id_download_document_request_body POST /custom/datev/employees/:employee_id/download-document Request body
    # @return [PostCustomDatevEmployeesEmployeeIdDownloadDocumentPositiveResponse]
    def post_custom_datev_employees_employee_id_download_document(x_integration_id, employee_id, opts = {})
      data, _status_code, _headers = post_custom_datev_employees_employee_id_download_document_with_http_info(x_integration_id, employee_id, opts)
      data
    end

    # Download Payroll Document
    # Download a document from DATEV  &lt;Note&gt;   This endpoint requires the permission **Manage documents** to be enabled in [your scope config](/scopes). &lt;/Note&gt;  ### Example Request Body  &#x60;&#x60;&#x60;json {   \&quot;accounting_month\&quot;: \&quot;2001-12-01\&quot;,   \&quot;document_type\&quot;: \&quot;LOJE\&quot; } &#x60;&#x60;&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param employee_id [String] POST /custom/datev/employees/:employee_id/download-document Parameter
    # @param [Hash] opts the optional parameters
    # @option opts [PostCustomDatevEmployeesEmployeeIdDownloadDocumentRequestBody] :post_custom_datev_employees_employee_id_download_document_request_body POST /custom/datev/employees/:employee_id/download-document Request body
    # @return [Array<(PostCustomDatevEmployeesEmployeeIdDownloadDocumentPositiveResponse, Integer, Hash)>] PostCustomDatevEmployeesEmployeeIdDownloadDocumentPositiveResponse data, response status code and response headers
    def post_custom_datev_employees_employee_id_download_document_with_http_info(x_integration_id, employee_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEndpointsApi.post_custom_datev_employees_employee_id_download_document ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling CustomEndpointsApi.post_custom_datev_employees_employee_id_download_document"
      end
      # resource path
      local_var_path = '/custom/datev/employees/{employee_id}/download-document'.sub('{' + 'employee_id' + '}', CGI.escape(employee_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_custom_datev_employees_employee_id_download_document_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostCustomDatevEmployeesEmployeeIdDownloadDocumentPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CustomEndpointsApi.post_custom_datev_employees_employee_id_download_document",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEndpointsApi#post_custom_datev_employees_employee_id_download_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create eAU Request
    # Create a request for an electronic certificate of incapacity for work (eAU).  <Note>   This endpoint requires the permission **Manage eAU** to be enabled in [your scope config](/scopes). </Note>  ### Example Request Body  ```json {   \"start_work_incapacity\": \"2022-01-01\" } ```
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param employee_id [String] ID of the employee that should be updated. You can use their Kombo &#x60;id&#x60; or their ID in the remote system by prefixing it with &#x60;remote:&#x60; (e.g., &#x60;remote:12312&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [PostCustomDatevEmployeesEmployeeIdEauRequestsRequestBody] :post_custom_datev_employees_employee_id_eau_requests_request_body POST /custom/datev/employees/:employee_id/eau-requests Request body
    # @return [PostCustomDatevEmployeesEmployeeIdEauRequestsPositiveResponse]
    def post_custom_datev_employees_employee_id_eau_requests(x_integration_id, employee_id, opts = {})
      data, _status_code, _headers = post_custom_datev_employees_employee_id_eau_requests_with_http_info(x_integration_id, employee_id, opts)
      data
    end

    # Create eAU Request
    # Create a request for an electronic certificate of incapacity for work (eAU).  &lt;Note&gt;   This endpoint requires the permission **Manage eAU** to be enabled in [your scope config](/scopes). &lt;/Note&gt;  ### Example Request Body  &#x60;&#x60;&#x60;json {   \&quot;start_work_incapacity\&quot;: \&quot;2022-01-01\&quot; } &#x60;&#x60;&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param employee_id [String] ID of the employee that should be updated. You can use their Kombo &#x60;id&#x60; or their ID in the remote system by prefixing it with &#x60;remote:&#x60; (e.g., &#x60;remote:12312&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [PostCustomDatevEmployeesEmployeeIdEauRequestsRequestBody] :post_custom_datev_employees_employee_id_eau_requests_request_body POST /custom/datev/employees/:employee_id/eau-requests Request body
    # @return [Array<(PostCustomDatevEmployeesEmployeeIdEauRequestsPositiveResponse, Integer, Hash)>] PostCustomDatevEmployeesEmployeeIdEauRequestsPositiveResponse data, response status code and response headers
    def post_custom_datev_employees_employee_id_eau_requests_with_http_info(x_integration_id, employee_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEndpointsApi.post_custom_datev_employees_employee_id_eau_requests ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling CustomEndpointsApi.post_custom_datev_employees_employee_id_eau_requests"
      end
      # verify the required parameter 'employee_id' is set
      if @api_client.config.client_side_validation && employee_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_id' when calling CustomEndpointsApi.post_custom_datev_employees_employee_id_eau_requests"
      end
      # resource path
      local_var_path = '/custom/datev/employees/{employee_id}/eau-requests'.sub('{' + 'employee_id' + '}', CGI.escape(employee_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_custom_datev_employees_employee_id_eau_requests_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostCustomDatevEmployeesEmployeeIdEauRequestsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CustomEndpointsApi.post_custom_datev_employees_employee_id_eau_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEndpointsApi#post_custom_datev_employees_employee_id_eau_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Write raw DATEV ASCII file
    # This action allows to send an arbitrary ASCII file directly to DATEV LODAS or Lohn und Gehalt. Kombo adds validation for the file format but not on the content. This action allows you to implement any use case that you might have with DATEV payroll ASCII imports.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [PostCustomDatevPassthroughRequestBody] :post_custom_datev_passthrough_request_body POST /custom/datev/passthrough Request body
    # @return [PostCustomDatevPassthroughPositiveResponse]
    def post_custom_datev_passthrough(x_integration_id, opts = {})
      data, _status_code, _headers = post_custom_datev_passthrough_with_http_info(x_integration_id, opts)
      data
    end

    # Write raw DATEV ASCII file
    # This action allows to send an arbitrary ASCII file directly to DATEV LODAS or Lohn und Gehalt. Kombo adds validation for the file format but not on the content. This action allows you to implement any use case that you might have with DATEV payroll ASCII imports.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [PostCustomDatevPassthroughRequestBody] :post_custom_datev_passthrough_request_body POST /custom/datev/passthrough Request body
    # @return [Array<(PostCustomDatevPassthroughPositiveResponse, Integer, Hash)>] PostCustomDatevPassthroughPositiveResponse data, response status code and response headers
    def post_custom_datev_passthrough_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEndpointsApi.post_custom_datev_passthrough ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling CustomEndpointsApi.post_custom_datev_passthrough"
      end
      # resource path
      local_var_path = '/custom/datev/passthrough'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_custom_datev_passthrough_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostCustomDatevPassthroughPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CustomEndpointsApi.post_custom_datev_passthrough",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEndpointsApi#post_custom_datev_passthrough\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Push general data to DATEV
    # Uploads the currently relevant general data (employees, compensations, and time offs) to DATEV. This will create so called ASCII files that the accountant has to import in DATEV. You can call this endpoint to implement an on-demand sync to DATEV, for example if you want to offer your users a button to do that in your application.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body POST /custom/datev/push-data/general Request body
    # @return [PostCustomDatevPushDataGeneralPositiveResponse]
    def post_custom_datev_push_data_general(x_integration_id, opts = {})
      data, _status_code, _headers = post_custom_datev_push_data_general_with_http_info(x_integration_id, opts)
      data
    end

    # Push general data to DATEV
    # Uploads the currently relevant general data (employees, compensations, and time offs) to DATEV. This will create so called ASCII files that the accountant has to import in DATEV. You can call this endpoint to implement an on-demand sync to DATEV, for example if you want to offer your users a button to do that in your application.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body POST /custom/datev/push-data/general Request body
    # @return [Array<(PostCustomDatevPushDataGeneralPositiveResponse, Integer, Hash)>] PostCustomDatevPushDataGeneralPositiveResponse data, response status code and response headers
    def post_custom_datev_push_data_general_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEndpointsApi.post_custom_datev_push_data_general ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling CustomEndpointsApi.post_custom_datev_push_data_general"
      end
      # resource path
      local_var_path = '/custom/datev/push-data/general'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostCustomDatevPushDataGeneralPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CustomEndpointsApi.post_custom_datev_push_data_general",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEndpointsApi#post_custom_datev_push_data_general\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Push payroll data to DATEV
    # Uploads the currently relevant payroll data (supplements) to DATEV. This will create so called ASCII files that the accountant has to import in DATEV. After finishing the payroll preparation or after correcting payroll, you can call this.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [PostCustomDatevPushDataPayrollRequestBody] :post_custom_datev_push_data_payroll_request_body POST /custom/datev/push-data/payroll Request body
    # @return [PostCustomDatevPushDataPayrollPositiveResponse]
    def post_custom_datev_push_data_payroll(x_integration_id, opts = {})
      data, _status_code, _headers = post_custom_datev_push_data_payroll_with_http_info(x_integration_id, opts)
      data
    end

    # Push payroll data to DATEV
    # Uploads the currently relevant payroll data (supplements) to DATEV. This will create so called ASCII files that the accountant has to import in DATEV. After finishing the payroll preparation or after correcting payroll, you can call this.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [PostCustomDatevPushDataPayrollRequestBody] :post_custom_datev_push_data_payroll_request_body POST /custom/datev/push-data/payroll Request body
    # @return [Array<(PostCustomDatevPushDataPayrollPositiveResponse, Integer, Hash)>] PostCustomDatevPushDataPayrollPositiveResponse data, response status code and response headers
    def post_custom_datev_push_data_payroll_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEndpointsApi.post_custom_datev_push_data_payroll ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling CustomEndpointsApi.post_custom_datev_push_data_payroll"
      end
      # resource path
      local_var_path = '/custom/datev/push-data/payroll'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_custom_datev_push_data_payroll_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostCustomDatevPushDataPayrollPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CustomEndpointsApi.post_custom_datev_push_data_payroll",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEndpointsApi#post_custom_datev_push_data_payroll\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Write Payroll Supplement
    # Write a payroll supplement to Silae using the supplement code.  <Note>   This endpoint requires the permission **Manage payroll** to be enabled in [your scope config](/scopes). </Note>  ### Example Request Body  ```json {   \"employee_id\": \"EvLV61zdahkN4ftPJbmPCkdv\",   \"supplement_code\": \"200\",   \"effective_date\": \"2024-01-14\",   \"element_amount\": 6 } ```
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param employee_id [String] ID of the employee that should be updated. You can use their Kombo &#x60;id&#x60; or their ID in the remote system by prefixing it with &#x60;remote:&#x60; (e.g., &#x60;remote:12312&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [PostCustomSilaeEmployeesEmployeeIdPayrollSupplementsRequestBody] :post_custom_silae_employees_employee_id_payroll_supplements_request_body POST /custom/silae/employees/:employee_id/payroll-supplements Request body
    # @return [PostCustomSilaeEmployeesEmployeeIdPayrollSupplementsPositiveResponse]
    def post_custom_silae_employees_employee_id_payroll_supplements(x_integration_id, employee_id, opts = {})
      data, _status_code, _headers = post_custom_silae_employees_employee_id_payroll_supplements_with_http_info(x_integration_id, employee_id, opts)
      data
    end

    # Write Payroll Supplement
    # Write a payroll supplement to Silae using the supplement code.  &lt;Note&gt;   This endpoint requires the permission **Manage payroll** to be enabled in [your scope config](/scopes). &lt;/Note&gt;  ### Example Request Body  &#x60;&#x60;&#x60;json {   \&quot;employee_id\&quot;: \&quot;EvLV61zdahkN4ftPJbmPCkdv\&quot;,   \&quot;supplement_code\&quot;: \&quot;200\&quot;,   \&quot;effective_date\&quot;: \&quot;2024-01-14\&quot;,   \&quot;element_amount\&quot;: 6 } &#x60;&#x60;&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param employee_id [String] ID of the employee that should be updated. You can use their Kombo &#x60;id&#x60; or their ID in the remote system by prefixing it with &#x60;remote:&#x60; (e.g., &#x60;remote:12312&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [PostCustomSilaeEmployeesEmployeeIdPayrollSupplementsRequestBody] :post_custom_silae_employees_employee_id_payroll_supplements_request_body POST /custom/silae/employees/:employee_id/payroll-supplements Request body
    # @return [Array<(PostCustomSilaeEmployeesEmployeeIdPayrollSupplementsPositiveResponse, Integer, Hash)>] PostCustomSilaeEmployeesEmployeeIdPayrollSupplementsPositiveResponse data, response status code and response headers
    def post_custom_silae_employees_employee_id_payroll_supplements_with_http_info(x_integration_id, employee_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEndpointsApi.post_custom_silae_employees_employee_id_payroll_supplements ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling CustomEndpointsApi.post_custom_silae_employees_employee_id_payroll_supplements"
      end
      # verify the required parameter 'employee_id' is set
      if @api_client.config.client_side_validation && employee_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_id' when calling CustomEndpointsApi.post_custom_silae_employees_employee_id_payroll_supplements"
      end
      # resource path
      local_var_path = '/custom/silae/employees/{employee_id}/payroll-supplements'.sub('{' + 'employee_id' + '}', CGI.escape(employee_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_custom_silae_employees_employee_id_payroll_supplements_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostCustomSilaeEmployeesEmployeeIdPayrollSupplementsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CustomEndpointsApi.post_custom_silae_employees_employee_id_payroll_supplements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEndpointsApi#post_custom_silae_employees_employee_id_payroll_supplements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set DATEV compensations
    # Sets the compensations for an employee on the specified effective date.   Other compensations will end at the effective date. That means, if you would like to add a compensation, you also have to include the compensations that you would like to keep.  <Note>   This endpoint requires the permission **Manage payroll** to be enabled in [your scope config](/scopes). </Note>  ### Example Request Body  ```json {   \"employee_id\": \"3bdhemmSP1TPQDGWtRveRot9\",   \"effective_date\": \"2022-12-01\",   \"compensations\": [     {       \"amount\": 4500,       \"currency\": \"EUR\",       \"period\": \"MONTH\",       \"lohnart\": 200     },     {       \"amount\": 30,       \"currency\": \"EUR\",       \"period\": \"HOUR\"     }   ] } ```
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param employee_id [String] ID of the employee that should be updated. You can use their Kombo &#x60;id&#x60; or their ID in the remote system by prefixing it with &#x60;remote:&#x60; (e.g., &#x60;remote:12312&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [PutCustomDatevEmployeesEmployeeIdCompensationsRequestBody] :put_custom_datev_employees_employee_id_compensations_request_body PUT /custom/datev/employees/:employee_id/compensations Request body
    # @return [PutCustomDatevEmployeesEmployeeIdCompensationsPositiveResponse]
    def put_custom_datev_employees_employee_id_compensations(x_integration_id, employee_id, opts = {})
      data, _status_code, _headers = put_custom_datev_employees_employee_id_compensations_with_http_info(x_integration_id, employee_id, opts)
      data
    end

    # Set DATEV compensations
    # Sets the compensations for an employee on the specified effective date.   Other compensations will end at the effective date. That means, if you would like to add a compensation, you also have to include the compensations that you would like to keep.  &lt;Note&gt;   This endpoint requires the permission **Manage payroll** to be enabled in [your scope config](/scopes). &lt;/Note&gt;  ### Example Request Body  &#x60;&#x60;&#x60;json {   \&quot;employee_id\&quot;: \&quot;3bdhemmSP1TPQDGWtRveRot9\&quot;,   \&quot;effective_date\&quot;: \&quot;2022-12-01\&quot;,   \&quot;compensations\&quot;: [     {       \&quot;amount\&quot;: 4500,       \&quot;currency\&quot;: \&quot;EUR\&quot;,       \&quot;period\&quot;: \&quot;MONTH\&quot;,       \&quot;lohnart\&quot;: 200     },     {       \&quot;amount\&quot;: 30,       \&quot;currency\&quot;: \&quot;EUR\&quot;,       \&quot;period\&quot;: \&quot;HOUR\&quot;     }   ] } &#x60;&#x60;&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param employee_id [String] ID of the employee that should be updated. You can use their Kombo &#x60;id&#x60; or their ID in the remote system by prefixing it with &#x60;remote:&#x60; (e.g., &#x60;remote:12312&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [PutCustomDatevEmployeesEmployeeIdCompensationsRequestBody] :put_custom_datev_employees_employee_id_compensations_request_body PUT /custom/datev/employees/:employee_id/compensations Request body
    # @return [Array<(PutCustomDatevEmployeesEmployeeIdCompensationsPositiveResponse, Integer, Hash)>] PutCustomDatevEmployeesEmployeeIdCompensationsPositiveResponse data, response status code and response headers
    def put_custom_datev_employees_employee_id_compensations_with_http_info(x_integration_id, employee_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEndpointsApi.put_custom_datev_employees_employee_id_compensations ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling CustomEndpointsApi.put_custom_datev_employees_employee_id_compensations"
      end
      # verify the required parameter 'employee_id' is set
      if @api_client.config.client_side_validation && employee_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_id' when calling CustomEndpointsApi.put_custom_datev_employees_employee_id_compensations"
      end
      # resource path
      local_var_path = '/custom/datev/employees/{employee_id}/compensations'.sub('{' + 'employee_id' + '}', CGI.escape(employee_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'put_custom_datev_employees_employee_id_compensations_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PutCustomDatevEmployeesEmployeeIdCompensationsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CustomEndpointsApi.put_custom_datev_employees_employee_id_compensations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEndpointsApi#put_custom_datev_employees_employee_id_compensations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Prepare DATEV Payroll
    # What DATEV requires to prepare payroll is very specific and currently, as DATEV is not providing \"read\", this is not part of the unified model.  <Note>   This endpoint requires the permission **Manage payroll** to be enabled in [your scope config](/scopes). </Note>  ### Example Request Body  ```json {   \"employee_id\": \"EvLV61zdahkN4ftPJbmPCkdv\",   \"payroll_run\": {     \"date\": \"2022-05-01\"   },   \"fixed_payments\": [     {       \"amount\": 560,       \"lohnart\": 100     }   ],   \"hourly_payments\": [     {       \"hours\": 14,       \"lohnart\": 200     },     {       \"hours\": 16,       \"lohnart\": 232     }   ],   \"custom_lodas\": [     {       \"amount\": 8,       \"lohnart\": 300,       \"bearbeitungsschluessel\": 4     }   ] } ```
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param employee_id [String] ID of the employee that should be updated. You can use their Kombo &#x60;id&#x60; or their ID in the remote system by prefixing it with &#x60;remote:&#x60; (e.g., &#x60;remote:12312&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [PutCustomDatevEmployeesEmployeeIdPreparePayrollRequestBody] :put_custom_datev_employees_employee_id_prepare_payroll_request_body PUT /custom/datev/employees/:employee_id/prepare-payroll Request body
    # @return [PutCustomDatevEmployeesEmployeeIdPreparePayrollPositiveResponse]
    def put_custom_datev_employees_employee_id_prepare_payroll(x_integration_id, employee_id, opts = {})
      data, _status_code, _headers = put_custom_datev_employees_employee_id_prepare_payroll_with_http_info(x_integration_id, employee_id, opts)
      data
    end

    # Prepare DATEV Payroll
    # What DATEV requires to prepare payroll is very specific and currently, as DATEV is not providing \&quot;read\&quot;, this is not part of the unified model.  &lt;Note&gt;   This endpoint requires the permission **Manage payroll** to be enabled in [your scope config](/scopes). &lt;/Note&gt;  ### Example Request Body  &#x60;&#x60;&#x60;json {   \&quot;employee_id\&quot;: \&quot;EvLV61zdahkN4ftPJbmPCkdv\&quot;,   \&quot;payroll_run\&quot;: {     \&quot;date\&quot;: \&quot;2022-05-01\&quot;   },   \&quot;fixed_payments\&quot;: [     {       \&quot;amount\&quot;: 560,       \&quot;lohnart\&quot;: 100     }   ],   \&quot;hourly_payments\&quot;: [     {       \&quot;hours\&quot;: 14,       \&quot;lohnart\&quot;: 200     },     {       \&quot;hours\&quot;: 16,       \&quot;lohnart\&quot;: 232     }   ],   \&quot;custom_lodas\&quot;: [     {       \&quot;amount\&quot;: 8,       \&quot;lohnart\&quot;: 300,       \&quot;bearbeitungsschluessel\&quot;: 4     }   ] } &#x60;&#x60;&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param employee_id [String] ID of the employee that should be updated. You can use their Kombo &#x60;id&#x60; or their ID in the remote system by prefixing it with &#x60;remote:&#x60; (e.g., &#x60;remote:12312&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [PutCustomDatevEmployeesEmployeeIdPreparePayrollRequestBody] :put_custom_datev_employees_employee_id_prepare_payroll_request_body PUT /custom/datev/employees/:employee_id/prepare-payroll Request body
    # @return [Array<(PutCustomDatevEmployeesEmployeeIdPreparePayrollPositiveResponse, Integer, Hash)>] PutCustomDatevEmployeesEmployeeIdPreparePayrollPositiveResponse data, response status code and response headers
    def put_custom_datev_employees_employee_id_prepare_payroll_with_http_info(x_integration_id, employee_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEndpointsApi.put_custom_datev_employees_employee_id_prepare_payroll ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling CustomEndpointsApi.put_custom_datev_employees_employee_id_prepare_payroll"
      end
      # verify the required parameter 'employee_id' is set
      if @api_client.config.client_side_validation && employee_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_id' when calling CustomEndpointsApi.put_custom_datev_employees_employee_id_prepare_payroll"
      end
      # resource path
      local_var_path = '/custom/datev/employees/{employee_id}/prepare-payroll'.sub('{' + 'employee_id' + '}', CGI.escape(employee_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'put_custom_datev_employees_employee_id_prepare_payroll_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PutCustomDatevEmployeesEmployeeIdPreparePayrollPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CustomEndpointsApi.put_custom_datev_employees_employee_id_prepare_payroll",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEndpointsApi#put_custom_datev_employees_employee_id_prepare_payroll\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
