=begin
#Kombo API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Kombo
  class GeneralApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete integration
    # Delete the specified integration. **⚠️ This can not be undone!**
    # @param integration_id [String] DELETE /integrations/:integration_id Parameter
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body DELETE /integrations/:integration_id Request body
    # @return [DeleteIntegrationsIntegrationIdPositiveResponse]
    def delete_integrations_integration_id(integration_id, opts = {})
      data, _status_code, _headers = delete_integrations_integration_id_with_http_info(integration_id, opts)
      data
    end

    # Delete integration
    # Delete the specified integration. **⚠️ This can not be undone!**
    # @param integration_id [String] DELETE /integrations/:integration_id Parameter
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body DELETE /integrations/:integration_id Request body
    # @return [Array<(DeleteIntegrationsIntegrationIdPositiveResponse, Integer, Hash)>] DeleteIntegrationsIntegrationIdPositiveResponse data, response status code and response headers
    def delete_integrations_integration_id_with_http_info(integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeneralApi.delete_integrations_integration_id ...'
      end
      # verify the required parameter 'integration_id' is set
      if @api_client.config.client_side_validation && integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'integration_id' when calling GeneralApi.delete_integrations_integration_id"
      end
      # resource path
      local_var_path = '/integrations/{integration_id}'.sub('{' + 'integration_id' + '}', CGI.escape(integration_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteIntegrationsIntegrationIdPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"GeneralApi.delete_integrations_integration_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeneralApi#delete_integrations_integration_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check API key
    # Check whether your API key is working properly.
    # @param [Hash] opts the optional parameters
    # @return [GetCheckApiKeyPositiveResponse]
    def get_check_api_key(opts = {})
      data, _status_code, _headers = get_check_api_key_with_http_info(opts)
      data
    end

    # Check API key
    # Check whether your API key is working properly.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCheckApiKeyPositiveResponse, Integer, Hash)>] GetCheckApiKeyPositiveResponse data, response status code and response headers
    def get_check_api_key_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeneralApi.get_check_api_key ...'
      end
      # resource path
      local_var_path = '/check-api-key'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCheckApiKeyPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"GeneralApi.get_check_api_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeneralApi#get_check_api_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get integration details
    # Get the specified integration with everything you need to display it to your customer.
    # @param integration_id [String] GET /integrations/:integration_id Parameter
    # @param [Hash] opts the optional parameters
    # @return [GetIntegrationsIntegrationIdPositiveResponse]
    def get_integrations_integration_id(integration_id, opts = {})
      data, _status_code, _headers = get_integrations_integration_id_with_http_info(integration_id, opts)
      data
    end

    # Get integration details
    # Get the specified integration with everything you need to display it to your customer.
    # @param integration_id [String] GET /integrations/:integration_id Parameter
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetIntegrationsIntegrationIdPositiveResponse, Integer, Hash)>] GetIntegrationsIntegrationIdPositiveResponse data, response status code and response headers
    def get_integrations_integration_id_with_http_info(integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeneralApi.get_integrations_integration_id ...'
      end
      # verify the required parameter 'integration_id' is set
      if @api_client.config.client_side_validation && integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'integration_id' when calling GeneralApi.get_integrations_integration_id"
      end
      # resource path
      local_var_path = '/integrations/{integration_id}'.sub('{' + 'integration_id' + '}', CGI.escape(integration_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetIntegrationsIntegrationIdPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"GeneralApi.get_integrations_integration_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeneralApi#get_integrations_integration_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get custom fields with current mappings
    # Get all custom fields available on the specified integration. **This includes the mapping to the corresponding integration field if applicable*
    # @param integration_id [String] GET /integrations/:integration_id/custom-fields Parameter
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @return [GetIntegrationsIntegrationIdCustomFieldsPositiveResponse]
    def get_integrations_integration_id_custom_fields(integration_id, opts = {})
      data, _status_code, _headers = get_integrations_integration_id_custom_fields_with_http_info(integration_id, opts)
      data
    end

    # Get custom fields with current mappings
    # Get all custom fields available on the specified integration. **This includes the mapping to the corresponding integration field if applicable*
    # @param integration_id [String] GET /integrations/:integration_id/custom-fields Parameter
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @return [Array<(GetIntegrationsIntegrationIdCustomFieldsPositiveResponse, Integer, Hash)>] GetIntegrationsIntegrationIdCustomFieldsPositiveResponse data, response status code and response headers
    def get_integrations_integration_id_custom_fields_with_http_info(integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeneralApi.get_integrations_integration_id_custom_fields ...'
      end
      # verify the required parameter 'integration_id' is set
      if @api_client.config.client_side_validation && integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'integration_id' when calling GeneralApi.get_integrations_integration_id_custom_fields"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling GeneralApi.get_integrations_integration_id_custom_fields, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling GeneralApi.get_integrations_integration_id_custom_fields, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/integrations/{integration_id}/custom-fields'.sub('{' + 'integration_id' + '}', CGI.escape(integration_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetIntegrationsIntegrationIdCustomFieldsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"GeneralApi.get_integrations_integration_id_custom_fields",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeneralApi#get_integrations_integration_id_custom_fields\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get integration fields
    # Get all fields available on the specified integration. **This includes the mapping to your custom fields**
    # @param integration_id [String] GET /integrations/:integration_id/integration-fields Parameter
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 2000. (default to 100)
    # @return [GetIntegrationsIntegrationIdIntegrationFieldsPositiveResponse]
    def get_integrations_integration_id_integration_fields(integration_id, opts = {})
      data, _status_code, _headers = get_integrations_integration_id_integration_fields_with_http_info(integration_id, opts)
      data
    end

    # Get integration fields
    # Get all fields available on the specified integration. **This includes the mapping to your custom fields**
    # @param integration_id [String] GET /integrations/:integration_id/integration-fields Parameter
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 2000. (default to 100)
    # @return [Array<(GetIntegrationsIntegrationIdIntegrationFieldsPositiveResponse, Integer, Hash)>] GetIntegrationsIntegrationIdIntegrationFieldsPositiveResponse data, response status code and response headers
    def get_integrations_integration_id_integration_fields_with_http_info(integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeneralApi.get_integrations_integration_id_integration_fields ...'
      end
      # verify the required parameter 'integration_id' is set
      if @api_client.config.client_side_validation && integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'integration_id' when calling GeneralApi.get_integrations_integration_id_integration_fields"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 2000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling GeneralApi.get_integrations_integration_id_integration_fields, must be smaller than or equal to 2000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling GeneralApi.get_integrations_integration_id_integration_fields, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/integrations/{integration_id}/integration-fields'.sub('{' + 'integration_id' + '}', CGI.escape(integration_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetIntegrationsIntegrationIdIntegrationFieldsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"GeneralApi.get_integrations_integration_id_integration_fields",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeneralApi#get_integrations_integration_id_integration_fields\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get courses
    # Get courses    <Warning>**Closed Beta Feature:** This endpoint is currently in closed beta. We're testing it with selected customers before its public release. If you're interested in learning more or getting early access, please reach out.</Warning>    Retrieve all courses available in the LMS. Courses are structured learning programs that contain ordered content items and develop specific skills.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [String] :title_contains Filter by the &#x60;title&#x60; field. Can be used to find courses by keywords present in the course title.
    # @return [GetLmsCoursesPositiveResponse]
    def get_lms_courses(opts = {})
      data, _status_code, _headers = get_lms_courses_with_http_info(opts)
      data
    end

    # Get courses
    # Get courses    &lt;Warning&gt;**Closed Beta Feature:** This endpoint is currently in closed beta. We&#39;re testing it with selected customers before its public release. If you&#39;re interested in learning more or getting early access, please reach out.&lt;/Warning&gt;    Retrieve all courses available in the LMS. Courses are structured learning programs that contain ordered content items and develop specific skills.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [String] :title_contains Filter by the &#x60;title&#x60; field. Can be used to find courses by keywords present in the course title.
    # @return [Array<(GetLmsCoursesPositiveResponse, Integer, Hash)>] GetLmsCoursesPositiveResponse data, response status code and response headers
    def get_lms_courses_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeneralApi.get_lms_courses ...'
      end
      # resource path
      local_var_path = '/lms/courses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'remote_ids'] = opts[:'remote_ids'] if !opts[:'remote_ids'].nil?
      query_params[:'title_contains'] = opts[:'title_contains'] if !opts[:'title_contains'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLmsCoursesPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"GeneralApi.get_lms_courses",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeneralApi#get_lms_courses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get users
    # Get users    <Warning>**Closed Beta Feature:** This endpoint is currently in closed beta. We're testing it with selected customers before its public release. If you're interested in learning more or getting early access, please reach out.</Warning>    Retrieve all users from the LMS system. Users are learners who can enroll in and complete courses. The response includes their current progress across all enrolled courses.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [String] :email Filter users by their work email address.
    # @option opts [GetLmsUsersParameterStatus] :status Filter users by their current status.
    # @return [GetLmsUsersPositiveResponse]
    def get_lms_users(opts = {})
      data, _status_code, _headers = get_lms_users_with_http_info(opts)
      data
    end

    # Get users
    # Get users    &lt;Warning&gt;**Closed Beta Feature:** This endpoint is currently in closed beta. We&#39;re testing it with selected customers before its public release. If you&#39;re interested in learning more or getting early access, please reach out.&lt;/Warning&gt;    Retrieve all users from the LMS system. Users are learners who can enroll in and complete courses. The response includes their current progress across all enrolled courses.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [String] :email Filter users by their work email address.
    # @option opts [GetLmsUsersParameterStatus] :status Filter users by their current status.
    # @return [Array<(GetLmsUsersPositiveResponse, Integer, Hash)>] GetLmsUsersPositiveResponse data, response status code and response headers
    def get_lms_users_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeneralApi.get_lms_users ...'
      end
      # resource path
      local_var_path = '/lms/users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'remote_ids'] = opts[:'remote_ids'] if !opts[:'remote_ids'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLmsUsersPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"GeneralApi.get_lms_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeneralApi#get_lms_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tools
    # Get a list of the tools (i.e., integrations) enabled in your environment.  This can (in combination with the `integration_tool` parameter of [the \"Create Link\" endpoint](/v1/post-create-link)) be used to, for example, display a custom list or grid of available integrations to your end users instead of exposing Kombo Connect's standard tool selector.
    # @param category [GetToolsCategoryParameterCategory] GET /tools/:category Parameter
    # @param [Hash] opts the optional parameters
    # @return [GetToolsCategoryPositiveResponse]
    def get_tools_category(category, opts = {})
      data, _status_code, _headers = get_tools_category_with_http_info(category, opts)
      data
    end

    # Get tools
    # Get a list of the tools (i.e., integrations) enabled in your environment.  This can (in combination with the &#x60;integration_tool&#x60; parameter of [the \&quot;Create Link\&quot; endpoint](/v1/post-create-link)) be used to, for example, display a custom list or grid of available integrations to your end users instead of exposing Kombo Connect&#39;s standard tool selector.
    # @param category [GetToolsCategoryParameterCategory] GET /tools/:category Parameter
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetToolsCategoryPositiveResponse, Integer, Hash)>] GetToolsCategoryPositiveResponse data, response status code and response headers
    def get_tools_category_with_http_info(category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeneralApi.get_tools_category ...'
      end
      # verify the required parameter 'category' is set
      if @api_client.config.client_side_validation && category.nil?
        fail ArgumentError, "Missing the required parameter 'category' when calling GeneralApi.get_tools_category"
      end
      # resource path
      local_var_path = '/tools/{category}'.sub('{' + 'category' + '}', CGI.escape(category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetToolsCategoryPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"GeneralApi.get_tools_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeneralApi#get_tools_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an integration fields passthrough setting
    # When enabled, the integration field will be passed as part of the `integration_fields` array on the specific model endpoint. Providing false will disable the passthrough for the specified field.
    # @param integration_id [String] PATCH /integrations/:integration_id/integration-fields/:integration_field_id Parameter
    # @param integration_field_id [String] PATCH /integrations/:integration_id/integration-fields/:integration_field_id Parameter
    # @param [Hash] opts the optional parameters
    # @option opts [PatchIntegrationsIntegrationIdIntegrationFieldsIntegrationFieldIdRequestBody] :patch_integrations_integration_id_integration_fields_integration_field_id_request_body PATCH /integrations/:integration_id/integration-fields/:integration_field_id Request body
    # @return [PatchIntegrationsIntegrationIdIntegrationFieldsIntegrationFieldIdPositiveResponse]
    def patch_integrations_integration_id_integration_fields_integration_field_id(integration_id, integration_field_id, opts = {})
      data, _status_code, _headers = patch_integrations_integration_id_integration_fields_integration_field_id_with_http_info(integration_id, integration_field_id, opts)
      data
    end

    # Updates an integration fields passthrough setting
    # When enabled, the integration field will be passed as part of the &#x60;integration_fields&#x60; array on the specific model endpoint. Providing false will disable the passthrough for the specified field.
    # @param integration_id [String] PATCH /integrations/:integration_id/integration-fields/:integration_field_id Parameter
    # @param integration_field_id [String] PATCH /integrations/:integration_id/integration-fields/:integration_field_id Parameter
    # @param [Hash] opts the optional parameters
    # @option opts [PatchIntegrationsIntegrationIdIntegrationFieldsIntegrationFieldIdRequestBody] :patch_integrations_integration_id_integration_fields_integration_field_id_request_body PATCH /integrations/:integration_id/integration-fields/:integration_field_id Request body
    # @return [Array<(PatchIntegrationsIntegrationIdIntegrationFieldsIntegrationFieldIdPositiveResponse, Integer, Hash)>] PatchIntegrationsIntegrationIdIntegrationFieldsIntegrationFieldIdPositiveResponse data, response status code and response headers
    def patch_integrations_integration_id_integration_fields_integration_field_id_with_http_info(integration_id, integration_field_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeneralApi.patch_integrations_integration_id_integration_fields_integration_field_id ...'
      end
      # verify the required parameter 'integration_id' is set
      if @api_client.config.client_side_validation && integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'integration_id' when calling GeneralApi.patch_integrations_integration_id_integration_fields_integration_field_id"
      end
      # verify the required parameter 'integration_field_id' is set
      if @api_client.config.client_side_validation && integration_field_id.nil?
        fail ArgumentError, "Missing the required parameter 'integration_field_id' when calling GeneralApi.patch_integrations_integration_id_integration_fields_integration_field_id"
      end
      # resource path
      local_var_path = '/integrations/{integration_id}/integration-fields/{integration_field_id}'.sub('{' + 'integration_id' + '}', CGI.escape(integration_id.to_s)).sub('{' + 'integration_field_id' + '}', CGI.escape(integration_field_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_integrations_integration_id_integration_fields_integration_field_id_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PatchIntegrationsIntegrationIdIntegrationFieldsIntegrationFieldIdPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"GeneralApi.patch_integrations_integration_id_integration_fields_integration_field_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeneralApi#patch_integrations_integration_id_integration_fields_integration_field_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update progress
    # Update progress    <Warning>**Closed Beta Feature:** This endpoint is currently in closed beta. We're testing it with selected customers before its public release. If you're interested in learning more or getting early access, please reach out.</Warning>    Update an existing progress entry. Use this to record changes in status, scores, completion dates, or other learning metrics.
    # @param progress_id [String] The ID of the progress entry
    # @param [Hash] opts the optional parameters
    # @option opts [PatchLmsProgressProgressIdRequestBody] :patch_lms_progress_progress_id_request_body PATCH /lms/progress/:progress_id Request body
    # @return [PatchLmsProgressProgressIdPositiveResponse]
    def patch_lms_progress_progress_id(progress_id, opts = {})
      data, _status_code, _headers = patch_lms_progress_progress_id_with_http_info(progress_id, opts)
      data
    end

    # Update progress
    # Update progress    &lt;Warning&gt;**Closed Beta Feature:** This endpoint is currently in closed beta. We&#39;re testing it with selected customers before its public release. If you&#39;re interested in learning more or getting early access, please reach out.&lt;/Warning&gt;    Update an existing progress entry. Use this to record changes in status, scores, completion dates, or other learning metrics.
    # @param progress_id [String] The ID of the progress entry
    # @param [Hash] opts the optional parameters
    # @option opts [PatchLmsProgressProgressIdRequestBody] :patch_lms_progress_progress_id_request_body PATCH /lms/progress/:progress_id Request body
    # @return [Array<(PatchLmsProgressProgressIdPositiveResponse, Integer, Hash)>] PatchLmsProgressProgressIdPositiveResponse data, response status code and response headers
    def patch_lms_progress_progress_id_with_http_info(progress_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeneralApi.patch_lms_progress_progress_id ...'
      end
      # verify the required parameter 'progress_id' is set
      if @api_client.config.client_side_validation && progress_id.nil?
        fail ArgumentError, "Missing the required parameter 'progress_id' when calling GeneralApi.patch_lms_progress_progress_id"
      end
      # resource path
      local_var_path = '/lms/progress/{progress_id}'.sub('{' + 'progress_id' + '}', CGI.escape(progress_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_lms_progress_progress_id_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PatchLmsProgressProgressIdPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"GeneralApi.patch_lms_progress_progress_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeneralApi#patch_lms_progress_progress_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Trigger sync
    # Trigger a sync for a specific integration.  <Warning>Please note that it is **not** necessary nor recommended to call this endpoint periodically on your side. Kombo already performs periodic syncs for you and you should only trigger syncs yourself in special cases (like when a user clicks on a \"Sync\" button in your app).</Warning>
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [PostForceSyncRequestBody] :post_force_sync_request_body POST /force-sync Request body
    # @return [PostForceSyncPositiveResponse]
    def post_force_sync(x_integration_id, opts = {})
      data, _status_code, _headers = post_force_sync_with_http_info(x_integration_id, opts)
      data
    end

    # Trigger sync
    # Trigger a sync for a specific integration.  &lt;Warning&gt;Please note that it is **not** necessary nor recommended to call this endpoint periodically on your side. Kombo already performs periodic syncs for you and you should only trigger syncs yourself in special cases (like when a user clicks on a \&quot;Sync\&quot; button in your app).&lt;/Warning&gt;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [PostForceSyncRequestBody] :post_force_sync_request_body POST /force-sync Request body
    # @return [Array<(PostForceSyncPositiveResponse, Integer, Hash)>] PostForceSyncPositiveResponse data, response status code and response headers
    def post_force_sync_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeneralApi.post_force_sync ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling GeneralApi.post_force_sync"
      end
      # resource path
      local_var_path = '/force-sync'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_force_sync_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostForceSyncPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"GeneralApi.post_force_sync",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeneralApi#post_force_sync\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create reconnection link
    # Create a link that will allow the user to reconnect an integration. This is useful if you want to allow your users to update the credentials if the old ones for example expired.  Embed this the same way you would [embed the connect link](/connect/embedded-flow). By default, the link will be valid for 1 hour.  ### Example Request Body  ```json {   \"language\": \"en\",   \"scope_config_id\": \"9Pv6aCFwNDEzPNmwjSsY9SQx\",   \"link_type\": \"EMBEDDED\" } ```
    # @param integration_id [String] POST /integrations/:integration_id/relink Parameter
    # @param [Hash] opts the optional parameters
    # @option opts [PostIntegrationsIntegrationIdRelinkRequestBody] :post_integrations_integration_id_relink_request_body POST /integrations/:integration_id/relink Request body
    # @return [PostIntegrationsIntegrationIdRelinkPositiveResponse]
    def post_integrations_integration_id_relink(integration_id, opts = {})
      data, _status_code, _headers = post_integrations_integration_id_relink_with_http_info(integration_id, opts)
      data
    end

    # Create reconnection link
    # Create a link that will allow the user to reconnect an integration. This is useful if you want to allow your users to update the credentials if the old ones for example expired.  Embed this the same way you would [embed the connect link](/connect/embedded-flow). By default, the link will be valid for 1 hour.  ### Example Request Body  &#x60;&#x60;&#x60;json {   \&quot;language\&quot;: \&quot;en\&quot;,   \&quot;scope_config_id\&quot;: \&quot;9Pv6aCFwNDEzPNmwjSsY9SQx\&quot;,   \&quot;link_type\&quot;: \&quot;EMBEDDED\&quot; } &#x60;&#x60;&#x60;
    # @param integration_id [String] POST /integrations/:integration_id/relink Parameter
    # @param [Hash] opts the optional parameters
    # @option opts [PostIntegrationsIntegrationIdRelinkRequestBody] :post_integrations_integration_id_relink_request_body POST /integrations/:integration_id/relink Request body
    # @return [Array<(PostIntegrationsIntegrationIdRelinkPositiveResponse, Integer, Hash)>] PostIntegrationsIntegrationIdRelinkPositiveResponse data, response status code and response headers
    def post_integrations_integration_id_relink_with_http_info(integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeneralApi.post_integrations_integration_id_relink ...'
      end
      # verify the required parameter 'integration_id' is set
      if @api_client.config.client_side_validation && integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'integration_id' when calling GeneralApi.post_integrations_integration_id_relink"
      end
      # resource path
      local_var_path = '/integrations/{integration_id}/relink'.sub('{' + 'integration_id' + '}', CGI.escape(integration_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_integrations_integration_id_relink_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostIntegrationsIntegrationIdRelinkPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"GeneralApi.post_integrations_integration_id_relink",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeneralApi#post_integrations_integration_id_relink\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add content to course
    # Add content to course    <Warning>**Closed Beta Feature:** This endpoint is currently in closed beta. We're testing it with selected customers before its public release. If you're interested in learning more or getting early access, please reach out.</Warning>    Add a new content item to a course. Content items are the building blocks of courses and can be videos, text materials, quizzes, or coaching sessions. They will be added to the end of the course's ordered content list.
    # @param [Hash] opts the optional parameters
    # @option opts [PostLmsContentRequestBody] :post_lms_content_request_body POST /lms/content Request body
    # @return [PostLmsContentPositiveResponse]
    def post_lms_content(opts = {})
      data, _status_code, _headers = post_lms_content_with_http_info(opts)
      data
    end

    # Add content to course
    # Add content to course    &lt;Warning&gt;**Closed Beta Feature:** This endpoint is currently in closed beta. We&#39;re testing it with selected customers before its public release. If you&#39;re interested in learning more or getting early access, please reach out.&lt;/Warning&gt;    Add a new content item to a course. Content items are the building blocks of courses and can be videos, text materials, quizzes, or coaching sessions. They will be added to the end of the course&#39;s ordered content list.
    # @param [Hash] opts the optional parameters
    # @option opts [PostLmsContentRequestBody] :post_lms_content_request_body POST /lms/content Request body
    # @return [Array<(PostLmsContentPositiveResponse, Integer, Hash)>] PostLmsContentPositiveResponse data, response status code and response headers
    def post_lms_content_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeneralApi.post_lms_content ...'
      end
      # resource path
      local_var_path = '/lms/content'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_lms_content_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostLmsContentPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"GeneralApi.post_lms_content",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeneralApi#post_lms_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create course
    # Create course    <Warning>**Closed Beta Feature:** This endpoint is currently in closed beta. We're testing it with selected customers before its public release. If you're interested in learning more or getting early access, please reach out.</Warning>    Create a new course in the LMS with a title, description, and associated skills. Content items can be added separately using the content endpoints.
    # @param [Hash] opts the optional parameters
    # @option opts [PostLmsCoursesRequestBody] :post_lms_courses_request_body POST /lms/courses Request body
    # @return [PostLmsCoursesPositiveResponse]
    def post_lms_courses(opts = {})
      data, _status_code, _headers = post_lms_courses_with_http_info(opts)
      data
    end

    # Create course
    # Create course    &lt;Warning&gt;**Closed Beta Feature:** This endpoint is currently in closed beta. We&#39;re testing it with selected customers before its public release. If you&#39;re interested in learning more or getting early access, please reach out.&lt;/Warning&gt;    Create a new course in the LMS with a title, description, and associated skills. Content items can be added separately using the content endpoints.
    # @param [Hash] opts the optional parameters
    # @option opts [PostLmsCoursesRequestBody] :post_lms_courses_request_body POST /lms/courses Request body
    # @return [Array<(PostLmsCoursesPositiveResponse, Integer, Hash)>] PostLmsCoursesPositiveResponse data, response status code and response headers
    def post_lms_courses_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeneralApi.post_lms_courses ...'
      end
      # resource path
      local_var_path = '/lms/courses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_lms_courses_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostLmsCoursesPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"GeneralApi.post_lms_courses",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeneralApi#post_lms_courses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create progress
    # Create progress    <Warning>**Closed Beta Feature:** This endpoint is currently in closed beta. We're testing it with selected customers before its public release. If you're interested in learning more or getting early access, please reach out.</Warning>    Create a new progress entry for a user in a course. This records enrollment, completion, scores, and other learning metrics.
    # @param [Hash] opts the optional parameters
    # @option opts [PostLmsProgressRequestBody] :post_lms_progress_request_body POST /lms/progress Request body
    # @return [PostLmsProgressPositiveResponse]
    def post_lms_progress(opts = {})
      data, _status_code, _headers = post_lms_progress_with_http_info(opts)
      data
    end

    # Create progress
    # Create progress    &lt;Warning&gt;**Closed Beta Feature:** This endpoint is currently in closed beta. We&#39;re testing it with selected customers before its public release. If you&#39;re interested in learning more or getting early access, please reach out.&lt;/Warning&gt;    Create a new progress entry for a user in a course. This records enrollment, completion, scores, and other learning metrics.
    # @param [Hash] opts the optional parameters
    # @option opts [PostLmsProgressRequestBody] :post_lms_progress_request_body POST /lms/progress Request body
    # @return [Array<(PostLmsProgressPositiveResponse, Integer, Hash)>] PostLmsProgressPositiveResponse data, response status code and response headers
    def post_lms_progress_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeneralApi.post_lms_progress ...'
      end
      # resource path
      local_var_path = '/lms/progress'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_lms_progress_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostLmsProgressPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"GeneralApi.post_lms_progress",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeneralApi#post_lms_progress\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send passthrough request
    # Send a request to the specified integration's native API.  At Kombo we put a lot of work into making sure that our unified API covers all our customers' use cases and that they never have to think about integration-specific logic again. There are cases, however, where our customers want to build features that are very integration-specific. That's where this endpoint comes in.  Pass in details about the request you want to make to the integration's API and we'll forward it for you. We'll also take care of setting the right base URL and authenticating your requests.  To get started, please pick the relevant API (some tools provide multiple to due different base URLs or authentication schemes) from the table below and pass in the `{tool}/{api}` identifier as part of the path.  |Integration|`{tool}/{api}`|Description| |---|---|---| |Personio|`personio/personnel`|Personio's [Personnel Data API](https://developer.personio.de/reference/get_company-employees). We automatically authenticate all requests using the client ID and secret and use `https://api.personio.de/v1` as the base URL.| |Personio|`personio/personnelv2`|Personio's [V2 Personnel Data API](https://developer.personio.de/v2.0/reference/introduction). We automatically authenticate all requests using the client ID and secret and use `https://api.personio.de/v2` as the base URL.| |Workday|`workday/soap`|[Workday's SOAP API](https://community.workday.com/sites/default/files/file-hosting/productionapi/index.html). We automatically authenticate all requests. Set `data` to your raw xml string. Use `/` as your `path`, as we will always send requests to `https://\\{domain\\}/ccx/service/\\{tenant\\}/\\{service_name\\}`. Set your `method` to `POST`. You need to specify the `api_options` object and set `service_name` to the name of the service you want to call. Find all available services [here](https://community.workday.com/sites/default/files/file-hosting/productionapi/versions/v41.0/index.html). The string that you submit as `data` will be the content of the `soapenv:Body` tag in the request. You can set the `service_version` to any valid Workday service version (the default is `38.2`).| |Workday|`workday/rest`|[Workday's REST API](https://community.workday.com/sites/default/files/file-hosting/restapi/index.html). We automatically authenticate all requests and use the correct Workday REST base URL for your tenant. The base URL follows the format: https://\\{domain\\}/api/\\{service_name\\}/\\{version\\}/\\{tenant\\}. You can specify any valid REST endpoint and method. See the Workday REST API documentation for available endpoints. You must specify the `api_options` object and set `service_name` to the name of the service you want to call. You can also specify the `version` (e.g., \"v1\", \"v2\"); if omitted, it defaults to \"v1\".| |SAP SuccessFactors|`successfactors/odata-v2`|[SuccessFactors' OData V2 API](https://help.sap.com/doc/74597e67f54d4f448252bad4c2b601c9/2211/en-US/SF_HCM_OData_API_REF_en.pdf). We automatically authenticate all requests and use `https://\\{api_domain\\}\\{path?\\}/odata/v2` as the base URL (the optional `\\{path\\}` is used when connecting via proxied/gateway domains).| |SmartRecruiters|`smartrecruiters/default`|Smartrecruiters [API](https://developers.smartrecruiters.com/reference/apply-api). We automatically authenticate all requests using OAuth and use `https://api.smartrecruiters.com` as the base URL.| |SmartRecruiters|`smartrecruiters/default`|Smartrecruiters [API](https://developers.smartrecruiters.com/reference/apply-api). We automatically authenticate all requests using the credentials supplied by the customer and use `https://api.smartrecruiters.com` as the base URL.| |Factorial|`factorial/api`|Factorial's [API](https://apidoc.factorialhr.com/). We automatically authenticate all requests and use `https://api.factorialhr.com/api` or `https://api.demo.factorial.dev/api` as the base URL, depending on the connected instance.| |Oracle Recruiting Cloud|`oraclerecruiting/rest`|[Oracles's REST API](https://docs.oracle.com/en/cloud/saas/human-resources/24d/farws/rest-endpoints.html). We automatically authenticate all requests and use 'https://\\{company_url\\}' as the base url.| |Oracle Recruiting Cloud|`oraclerecruiting/rest`|[Oracle's REST API](https://docs.oracle.com/en/cloud/saas/human-resources/24d/farws/rest-endpoints.html). We automatically authenticate all requests and use 'https://\\{company_url\\}' as the base url.| |Lever|`lever/v1`|[Lever's v1 API](https://hire.lever.co/developer/documentation). We automatically authenticate all requests using the partner credentials which have been configured in the Lever tool settings (this uses Kombo's partner credentials by default).| |iCIMS|`icims/default`|[iCIMS Default API](https://developer-community.icims.com/). We automatically authenticate all requests and use `https://api.icims.com/customers/\\{customer_id\\}` as the base url.| |Recruitee|`recruitee/default`|The [Recruitee API](https://api.recruitee.com/docs/index.html). We automatically authenticate all requests and use `https://api.recruitee.com/c/\\{company_id\\}` as the base URL.| |RecruiterFlow|`recruiterflow/v1`|RecruiterFlow API [docs](https://docs.recruiterflow.com/). We automatically authenticate all requests using the RF-Api-Key header and use `https://api.recruiterflow.com` as the base URL.| |Greenhouse|`greenhouse/harvest`|Greenhouse [Harvest API](https://developers.greenhouse.io/harvest.html). We automatically authenticate all requests using the API key and use `https://harvest.greenhouse.io/v1` as the base URL.| |Greenhouse Job Board|`greenhousejobboard/boards-api`|[Greenhouse Job Board API](https://developers.greenhouse.io/job-board). We automatically authenticate all requests and use 'https://boards-api.greenhouse.io/v1/boards/\\{job_board_token\\}' as the base URL. Optionally, you can provide a custom job_board_token to use a different job board.| |Teamtailor|`teamtailor/v1`|Teamtailor's [JSON-API](https://docs.teamtailor.com/). We authenticate all request with the Teamtailor API key and use the base URL `https://api.teamtailor.com/v1`.| |Teamtailor Job Boards|`teamtailorjobboards/direct-apply`|Teamtailor's [Job Board Direct Apply API](https://partner.teamtailor.com/job_boards/direct_apply/#direct-apply). We automatically authenticate all requests and use `https://5qbn6o9x4h.execute-api.eu-west-1.amazonaws.com/production` as the base URL. All requests are automatically signed with HMAC-SHA256 signature.| |Ashby|`ashby/v1`|Ashby's [V1 API](https://developers.ashbyhq.com/reference/introduction). We automatically authenticate all requests with the provided credentials and use `https://api.ashbyhq.com` as the base URL. Please note that Ashby uses an RPC-style API. Please check [the Ashby API documentation](https://developers.ashbyhq.com/reference/introduction) for details on how to use it.| |CEGID TalentSoft FrontOffice|`talentsoft/v2`|Cegid Talentsoft Recruiting FrontOffice [API](https://developers.cegid.com/api-details). We automatically authenticate all requests using the provided credentials and use `https://\\{domain\\}/api/v2` as the base URL.| |CEGID TalentSoft Customer|`talentsoftcustomer/v1`|Cegid Talentsoft Recruiting FrontOffice API: [API Documentation](https://developers.cegid.com/api-details#api=cegid-talentsoft-recruiting-frontoffice) We automatically authenticate all requests and use `https://\\{customer_subdomain\\}.talent-soft.com/api/v1` as the base URL.| |Talention|`talention/v1`|Talention's API. We automatically authenticate all requests and use `https://\\{api_domain\\}/tms/\\{account_id\\}/external/api/1.0` as the base URL. Documentation is provided privately by Talention. Contact Kombo support for assistance with specific endpoints.| |Onlyfy|`onlyfy/v1`|Onlyfy's [Public v1 REST API](https://onlyfy.io/doc/v1#section/Introduction). We automatically authenticate all requests using the `apikey` header and use `https://api.prescreenapp.io/v1` as the base URL.| |Personio|`personio/recruiting`|Personio's [Recruiting API](https://developer.personio.de/reference/get_company-employees). We automatically authenticate all requests using the Recruiting access token and use `https://api.personio.de/v1/recruiting` as the base URL.| |Personio|`personio/recruitingV2`|Personio's [V2 Recruiting API](https://developer.personio.de/reference/get_v2-recruiting-applications). We automatically authenticate all requests using the Recruiting access token, send the `Beta` header and use `https://api.personio.de/v2/recruiting` as the base URL.| |Personio|`personio/jobboard`|API endpoints exposed on Personio's public job board pages ([currently just the XML feed](https://developer.personio.de/reference/get_xml)). We automatically use the right `https://\\{company\\}.jobs.personio.de` base URL.| |UKG Pro|`ukgpro/recruting`|[UKG Pro's Recruiting API](https://developer.ukg.com/hcm/reference/retrieveapplications). We automatically authenticate all requests and use  `https://\\{hostname\\}/talent/recruiting/v2/\\{tenantalias\\}/api` as the base URL.| |UKG Pro|`ukgpro/default`|[UKG Pro's HRIS API](https://developer.ukg.com/hcm/reference/get_personnel-v1-person-details). We automatically authenticate all requests and use  `https://\\{hostname\\}` as the base URL.| |UKG Ready|`ukgready/api`|UKG Ready [API](https://secure.saashr.com/ta/docs/rest/public/). We automatically authenticate all requests using the provided credentials and use `https://\\{api_domain\\}` as the base URL.| |UKG Ready|`ukgready/api`|UKG Ready [API](https://secure.saashr.com/ta/docs/rest/public/). We automatically authenticate all requests using the provided credentials and use `https://\\{api_domain\\}` as the base URL.| |ADP Workforce Now|`adpworkforcenow/default`|[ADP Workforce Now API v2](https://developers.adp.com/build/api-explorer/hcm-offrg-wfn). We automatically authenticate all requests and use the correct subdomain.| |Taleo|`taleo/soap`|[Taleo's API](https://docs.oracle.com/en/cloud/saas/taleo-enterprise/23b/otwsu/c-taleoapi.html). We automatically authenticate all requests and use 'https://\\{your-subdomain\\}.taleo.net/enterprise/soap' as base URL.| |rexx systems|`rexx/default`|Rexx's HRIS export API. There is only one endpoint: `Get /`| |AFAS Software|`afas/api`|AFAS' [API](https://connect.afas.nl/rest/get). We automatically authenticate all requests and use `https://\\{domain\\}/ProfitRestServices` as the base URL.| |BambooHR|`bamboohr/v1`|BambooHR's [API](https://documentation.bamboohr.com/reference/get-employee). We automatically authenticate all requests using the customer credentials `https://api.bamboohr.com/api/gateway.php/\\{subdomain\\}/v1` as the base URL.| |Bullhorn|`bullhorn/default`|[Bullhorn's API](https://bullhorn.github.io/rest-api-docs/index.html). We automatically use the right `https://rest.bullhornstaffing.com/rest-services/\\{corpToken\\}` base URL.| |Workable|`workable/v1`|Workable's [API](https://workable.readme.io/reference/generate-an-access-token). We automatically authenticate all requests using the client ID and secret and use `https://\\{subdomain\\}.\\{environment\\}.com/spi/v3` as the base URL.| |PayFit|`payfitcustomer/api`|PayFit [Partner API](https://developers.payfit.io/reference). We automatically authenticate all requests using the provided API key and use `https://partner-api.payfit.com` as the base URL.| |PayFit|`payfitpartner/partner-api`|PayFit [Partner API](https://developers.payfit.io/reference). We automatically authenticate all requests using the OAuth access token and use `https://partner-api.payfit.com` as the base URL.| |Jobvite|`jobvite/api`|We automatically authenticate all requests and use 'https://api.jobvite.com/api/v2' as the base URL.| |Employment Hero|`employmenthero/default`|EmploymentHero [API](https://developer.employmenthero.com/api-references/#icon-book-open-introduction). We automatically authenticate all requests using the credentials supplied by the customer and use `https://api.employmenthero.com/api` as the base URL.| |Fountain|`fountain/v2`|Fountain's [Hire API](https://developer.fountain.com/reference/get_v2-applicants). We automatically authenticate all requests and use `https://api.fountain.com/v2` as the base URL.| |Fourth|`fourth/uk-employee`|Fourth [UK Employee API](https://developer.fourth.com/en-gb/docs/uk-employee-api/reference) We automatically authenticate all requests and use `https://api.fourth.com/hr/organisations/\\{organisation_id\\}/` as the base URL. We also enforce the required query params for all requests.| |Kenjo|`kenjo/api`|Kenjo's [API](https://kenjo.readme.io/reference/generate-the-api-key). We automatically authenticate all requests using the API key and use `https://api.kenjo.io/` as the base URL.| |HeavenHR|`heavenhr/v2`|[HeavenHR API](https://api.heavenhr.com/). We automatically authenticate all requests using the provided credentials and use `https://api.heavenhr.com/api/v2` as the base URL.| |HiBob|`hibob/v1`|[HibBob's v1 API](https://apidocs.hibob.com/reference/get_people). We automatically authenticate all requests using the service user credentials (or, for old integrations, the API key) and use `https://api.hibob.com/v1` as the base URL.| |HiBob|`hibob/hire`|[HiBob's Hire API](https://apidocs.hibob.com/docs/how-to-integrate-with-ats-hire-api). We automatically authenticate all requests using the hire service user credentials. The base URL is configured during the integration setup.| |Softgarden|`softgarden/frontend-v3`|[Softgarden's Frontend API v3](https://dev.softgarden.de/frontend-v3/. We automatically authenticate all requests and use 'https://api.softgarden.io/api/rest' as base URL.| |Softgarden|`softgarden/apply-api`|[Softgarden's Apply API](https://dev.softgarden.de/apply-api/). We automatically authenticate all requests and use 'https://jobdb.softgarden.de/jobdb/public' as base URL.| |Cezanne HR|`cezannehr/dataservice`|[CezanneHR's v7 dataservice API](https://api.cezannehr.com/).We automatically authenticate all requests and use the base URL `https://subdomain.cezanneondemand.com/cezanneondemand/v7/dataservice.svc`| |Microsoft Entra ID|`entraid/v1`|[AzureAD's API](https://learn.microsoft.com/en-us/graph/api/resources/identity-network-access-overview?view=graph-rest-1.0). We automatically authenticate all requests.| |Microsoft Azure AD|`azuread/v1`|[AzureAD's API](https://learn.microsoft.com/en-us/graph/api/resources/identity-network-access-overview?view=graph-rest-1.0). We automatically authenticate all requests.| |Google Workspace|`googleworkspace/people`|[Googles's API](https://developers.google.com/people/api/rest). We automatically authenticate all requests and use 'https://people.googleapis.com' as the base URL.| |Google Workspace|`googleworkspace/admin`|[Googles's API](https://developers.google.com/admin-sdk/directory/reference/rest). We automatically authenticate all requests and use 'https://admin.googleapis.com' as the base URL.| |Nmbrs|`nmbrs/soap`|[Nmbrs SOAP API](https://api.nmbrs.nl/soap/v3/). We automatically authenticate all requests and use `https://api.nmbrs.nl/soap/v3/` as the base URL. Set `data` to your raw XML string (the content that will be placed inside the `\\<soap:Body\\>` tag). Use `/` as your `path`, as we will always send requests to `https://api.nmbrs.nl/soap/v3/\\{service_name\\}.asmx`. Set your `method` to `POST`. You need to specify the `api_options` object and set `service_name` to the name of the service you want to call. Available services include `EmployeeService` and `CompanyService`.| |Pinpoint|`pinpoint/v1`|Pinpoint's [JSON:API](https://developers.pinpointhq.com/docs). We automatically authenticate all requests using the `X-API-KEY` header and use `https://\\{subdomain\\}.pinpointhq.com/api/v1` as the base URL.| |d.vinci|`dvinci/rest-api`|The [DVinci REST API](https://static.dvinci-easy.com/files/d.vinci%20rest-api.html). All requests are authenticated by Kombo and use `https://\\{dvinci_domain\\}/restApi/` as the base URL.| |d.vinci|`dvinci/apply-api`|The [DVinci Apply API](https://static.dvinci-easy.com/files/d.vinci%20application-apply-api.html). All requests are authenticated by Kombo and use `https://\\{dvinci_domain\\}/p/\\{portal_path\\}/` as the base URL.| |d.vinci admin|`dvinciadmin/rest-api`|[DVinci REST API](https://static.dvinci-easy.com/files/d.vinci%20rest-api.html).| |d.vinci admin|`dvinciadmin/odata-api`|[DVinci ODATA API](https://dvinci.freshdesk.com/en/support/solutions/articles/75000059523-odata-reporting-api).| |JOIN|`join/v2`|Join's [V2 API](https://docs.join.com/reference/getting-started). We automatically authenticate all requests and use `https://api.join.com/v2` as the base URL.| |Deel|`deel/api`|Deel's [API](https://developer.deel.com/reference/). We automatically authenticate all requests using the provided credentials and use `https://\\{api_domain\\}/rest` as the base URL.| |Remote|`remotecom/default`|Remote's [API](https://remote.com/resources/api/getting-started). We automatically authenticate all requests using provided credentials.| |IRIS Cascade|`iriscascade/v2`|IRIS Cascade HR [API](https://swagger.hrapi.co.uk/). We automatically authenticate all requests using the provided credentials and use `https://api.iris.co.uk/hr/v2` as the base URL.| |Okta|`okta/v1`|[Okta's API](https://developer.okta.com/docs/api/openapi/okta-management/management/tag/ApiServiceIntegrations/). We automatically authenticate all request ans use 'https://\\<your-okta-domain\\>/api/v1' as the base URL.| |Sage HR|`sagehr/api`|Sage HR's [API](https://developer.sage.com/hr/reference/api-ref). We automatically authenticate all requests and use `https://\\{subdomain\\}.sage.hr/api` as the base URL.| |Sage People|`sagepeople/salesforce-rest-api`|Sage People is built on Salesforce's [API](https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/intro_what_is_rest_api.htm). We automatically authenticate all requests and use `https://\\{customer_name\\}.my.salesforce.com/` as the base URL.| |Humaans|`humaans/api`|Humaans' [API](https://docs.humaans.io/api/). We automatically authenticate all requests using the API key and use `https://app.humaans.io/api` as the base URL.| |TRAFFIT|`traffit/v2`|Traffit's [v2 API](https://api.traffit.com). We authenticate all requests with the Traffit API key and use the base URL `https://yourdomain.traffit.com/api/integration/v2`.| |eRecruiter|`erecruiter/api`|[eRecruiter's API](https://api.erecruiter.net/swagger/ui/index). We automatically authenticate all requests and use `https://\\{domain\\}/Api` as the base URL.| |Eurécia|`eurecia/api`|Eurécia [REST API](https://api.eurecia.com/eurecia/fw/swagger/index.html#/) We automatically authenticate all requests and use `https://\\{domain\\}/eurecia/rest` as the base URL.| |Abacus Umantis|`abacusumantis/v1`|[Umantis API v1](https://recruitingapp-91005709.umantis.com/api/v1/swagger-ui). We automatically authenticate all requests and use `https://\\{subdomain\\}.umantis.com/api/v1` as the base URL.| |Haufe Umantis|`umantis/v1`|[Umantis API v1](https://recruitingapp-91005709.umantis.com/api/v1/swagger-ui). We automatically authenticate all requests and use `https://\\{subdomain\\}.umantis.com/api/v1` as the base URL.| |Jobylon|`jobylon/push`|The [Jobylon Push API](https://developer.jobylon.com/push-api-and-webhooks/). We automatically authenticate all requests and use `https://\\{subdomain\\}.jobylon.com/p1` as the base URL.| |Jobylon|`jobylon/feed`|The [Jobylon Feed API](https://developer.jobylon.com/feed-api/). We automatically authenticate all requests and use `https://\\{subdomain\\}.jobylon.com/feeds/\\{job_hash\\}` as the base URL.| |Oracle HCM|`oraclehcm/api`|Oracle HCM Cloud [REST API](https://docs.oracle.com/en/cloud/saas/human-resources/24d/farws/index.html). We automatically authenticate all requests and use `https://\\{domain\\}/` as the base URL, where domain is your Oracle Cloud domain.| |Taleez|`taleez/0`|[Taleez's API](https://api.taleez.com/swagger-ui/index.html). We automatically authenticate all requests and use `https://api.taleez.com/0` as the base URL.| |HR WORKS|`hrworks/v2`|HRWorks's v2 [API](https://developers.hrworks.de/2.0/endpoints). We automatically authenticate all requests using the customer credentials.| |Abacus|`abacus/api`|Abacus [REST API](https://apihub.abacus.ch/). We automatically authenticate all requests and use `https://\\{\\{abacusUrl\\}\\}/api/entity/v1/mandants/\\{\\{mandantId\\}\\}` as the base URL.| |Zoho Recruit|`zohorecruit/v2`|Zoho Recruit's [V2 API](https://www.zoho.com/recruit/developer-guide/apiv2/modules-api.html). We automatically authenticate all requests and use `https://recruit.\\{domain\\}/recruit/v2` as the base URL.| |AlexisHR|`alexishr/v1`|[AlexisHR's v1 API](https://docs.alexishr.com/) We automatically authenticate all requests and use `https://\\{subdomain\\}.alexishr.com` as base URL.| |Simployer|`simployer/v1`|[AlexisHR's v1 API](https://docs.alexishr.com/) We automatically authenticate all requests and use `https://\\{subdomain\\}.alexishr.com` as base URL.| |Eploy|`eploy/api`|Eploy's [API](https://www.eploy.com/resources/developers/api-documentation/). We automatically authenticate all requests and use `https://\\{subdomain\\}.eploy.net/api` as the base URL.| |JobDiva|`jobdiva/api`|We automatically authenticate all requests and use `https://api.jobdiva.com` as the base URL.| |Visma Peple|`peple/hrm`|[Visma Payroll Reporting API](https://api.analytics1.hrm.visma.net/docs/openapi.html). We automatically authenticate all requests using the client credentials and use 'https://api.analytics1.hrm.visma.net' as the base URL.| |Visma YouServe|`youserve/learning`|Visma YouServe [Learning API](https://youserve-domain-api.github.io/SwaggerUI/learning.html). We automatically authenticate all requests using OAuth 2.0 with the provided credentials and use `https://api.youserve.nl/learning/v1.0` as the base URL.| |Dayforce|`dayforce/V1`|[Dayforce's API](https://developers.dayforce.com/Build/Home.aspx). We automatically authenticate all requests and use `\\{\\{baseUrl\\}\\}/Api/\\{\\{clientNamespace\\}\\}/V1` as the base URL| |Hansalog|`hansalog/vision`|Hansalog's [Vision API](https://hansalog-vision.document360.io/docs/). We automatically authenticate all requests and use `https://\\{subdomain\\}.hansalog-cloud.de/vision` as the base URL.| |Lattice|`lattice/passthrough`|Lattice's [API](https://developers.lattice.com/v2/docs/base-url-1). We automatically authenticate all requests using OAuth credentials with `https://api.latticehq.com` as the base URL.| |Lattice|`lattice/talent`|Lattice's [Talent API](https://developers.lattice.com/docs/introduction-1). We automatically authenticate all requests using OAuth credentials with `https://api.latticehq.com` as the base URL.| |Paylocity|`paylocity/default`|[Paylocity's Weblink API](https://developer.paylocity.com/integrations/reference/authentication-weblink). We automatically authenticate all requests and use 'https://\\{api|dc1demogw\\}.paylocity.com/' as the base URL.| |Paylocity|`paylocity/next-gen`|[Paylocity's NextGen API](https://developer.paylocity.com/integrations/reference/authentication). We automatically authenticate all requests and use 'https://dc1prodgwext.paylocity.com/' as the base URL.| |Paycor|`paycor/v1`|[Paycors's v1 API](https://developers.paycor.com/explore#section/Getting-Started). We automatically authenticate all requests and use 'https://apis.paycor.com'.| |Paycom|`paycom/v1`|Paycom's REST API. We automatically authenticate all requests using the provided SID and API Token and use `https://api.paycomonline.net/v4/rest/index.php/api/v1` as the base URL.| |Insperity|`insperity/api`|Insperity [APIs](https://developer.insperity.com/) We automatically authenticate all requests and use `https://api.insperity.com` as the base URL. For staging environments, we use `https://apistage.insperity.com`. Note that all requests require the company ID to be specified in the path or body.| |Paychex|`paychex/api`|Paychex [REST API](https://developer.paychex.com/documentation). We automatically authenticate all requests and use `https://api.paychex.com` as the base URL.| |Avature|`avature/custom-api`|Avatures's Custom API. Call `Get /openapi` to retrieve the specific custom API schema. We automatically authenticate all requests and use the instance specific custom API URL as the base URL.| |Apploi|`apploi/rest-api`|The [Apploi API](https://integrate.apploi.com/). We automatically authenticate all requests and use `https://partners.apploi.com/` as the base URL.| |Phenom|`phenom/rest-api`|The [Phenom API](https://developer.phenom.com/). We automatically authenticate all requests and use `https://api-stg.phenompro.com` as the base URL.| |Rippling|`rippling/api`|Rippling's [API](https://developer.rippling.com/documentation). We automatically authenticate all requests and use `https://api.rippling.com/platform/api` or`https://rest.ripplingapis.com` as the base URL.| |Heyrecruit|`heyrecruit/v2`|[Heyrecruit's v2 API](https://documenter.getpostman.com/view/23241256/2s9YysBLcf#47e271ac-47c8-4c75-9cc6-b8c506e9dad6). We automatically authenticate all requests using the client ID and secret and use `https://app.heyrecruit.de/api/v2` as the base URL.| |PeopleHR|`peoplehr/default`|[PeopleHR's API](https://apidocs.peoplehr.com/#). We automatically authenticate all request ans use 'https://api.peoplehr.net' as the base URL.| |JazzHR|`jazzhr/v1`|[JazzHR's v1 API](https://www.resumatorapi.com/v1/#!`).We automatically authenticate all requests and use \"https://api.resumatorapi.com/v1/\" as the base URL.| |Lucca|`lucca/api`|[Luccas's API](https://developers.lucca.fr/api-reference/legacy/introduction). We automatically authenticate all requests and use 'https://\\{account\\}.\\{ilucca|ilucca-demo\\}.\\{region\\}/' as the base URL.| |BITE|`bite/v1`|[Bite's v1 API](https://api.b-ite.io/docs/#/). We automatically authenticate all requests and use 'https://api.b-ite.io/v1' as base URL.| |Zelt|`zelt/partner`|Zelt's [Partner API](https://go.zelt.app/apiv2/swagger). We automatically authenticate all requests using the connected OAuth credentials and use `https://go.zelt.app/apiv2/partner` as the base URL.| |Planday|`planday/api`|Planday's [HR API v1.0](https://openapi.planday.com/api/hr?version=v1.0). We automatically authenticate all requests and use `https://openapi.planday.com` as the base URL.| |Hailey HR|`haileyhr/api`|Hailey HR's [API](https://api.haileyhr.app/docs/index.html). We automatically authenticate all requests using the provided credentials and use `https://api.haileyhr.app` as the base URL.| |Silae|`silae/rest`|[Silae's REST API](https://silae-api.document360.io/docs). We automatically authenticate all requests and use 'https://payroll-api.silae.fr/payroll' as the base URL.| |Mysolution|`mysolution/default`|[Mysolution's API](https://swagger.mysolution.nl/). We automatically authenticate all requests and use the customer's domain as base URL.| |InRecruiting by Zucchetti|`inrecruiting/default`|[inRecruiting's v3 API](https://inrecruiting.intervieweb.it/api-docs/). We automatically authenticate all requests and use the customers domain as base URL| |Connexys By Bullhorn|`connexys/api`|[Connexy's API](https://api.conexsys.com/client/v2/docs/#section/Overview). We automatically authenticate all requests and use `https://\\{connexys_domain\\}/` as the base URL.| |HR4YOU|`hr4you/v2`|[HR4YOU's v2 API](https://apiprodemo.hr4you.org/api2/docs). We automatically authenticate all requests and use the customers provided base URL (e.g., https://`\\{base_url\\}`/ or https://`\\{subdomain\\}.hr4you.org`/).| |Cornerstone OnDemand|`cornerstoneondemand/recruiting`|Cornerstone's [Recruiting API](https://csod.dev/reference/recruiting/). We automatically authenticate all requests using the client ID and secret and use `https://your_domain.csod.com/services/api` as the base URL.| |Zvoove Recruit|`zvooverecruit/jobs`|[Zvoove Recruit's Jobs API](https://api.zvoove.com/docs/). We automatically authenticate all requests using the jobs API key and use 'https://\\{domain\\}/api/public' as base URL.| |Zvoove Recruit|`zvooverecruit/applicants`|[Zvoove Recruit's Applicants API](https://api.zvoove.com/docs/). We automatically authenticate all requests using the applicants API key and use 'https://\\{domain\\}/api/public' as base URL.| |Spark Hire Recruit|`comeet/api`|[Spark Hire Recruit's API.](https://developers.comeet.com/reference/recruiting-api-overview)We automatically authenticate all requests and use `https://api.comeet.com` as the base URL.| |Leapsome|`leapsome/scim`|Leapsome [SCIM API](https://api.leapsome.com/scim/v1/api-docs/). We automatically authenticate all requests using the credentials supplied by the customer and use `https://api.leapsome.com/scim/v1` as the base URL.| |Leapsome|`leapsome/v1`|Leapsome [API](https://api.leapsome.com/v1/api-docs/). We automatically authenticate all requests using the credentials supplied by the customer and use `https://api.leapsome.com/v1` as the base URL.| |Compleet|`compleetpitcher/pitcher`|Compleet's Pitcher API. We automatically authenticate all requests and use the configured base URL.| |Gem|`gem/api`|Gem's [ATS API](https://api.gem.com/ats/v0/reference) We automatically authenticate all requests.| |workforce.com|`workforcecom/api`|Workforce.com [API](https://my.workforce.com/api/v2/documentation). We automatically authenticate all requests using the provided credentials and use `https://my.tanda.co` as the base URL.| |Laura|`laura/api`|We automatically authenticate all requests and use `https://\\{subdomain\\}.rekrytointi.com/api/v1.2` as the base URL.| |Coveto (REST API)|`covetorest/v1`|We automatically use `https://\\{subdomain\\}.coveto.de/public/api/v1` as the base URL. https://demo.coveto.de/swagger-ui/index.html#/| |Coveto (legacy SOAP API)|`coveto/public`|We automatically use `https://\\{subdomain\\}.coveto.de` as the base URL.| |MHR People First|`peoplefirst/v1`|MHR People First [v1 API](https://docs.people-first.com/api/api-docs/api-docs.html). We automatically authenticate all requests using the access token and tenant/environment codes. For default environments, we use `https://\\{tenant_code\\}.people-first.com/api/v1` as the base URL. For non-default environments, we use `https://\\{tenant_code\\}-\\{environment_code\\}.people-first.com/api/v1`.| |SD Worx|`sdworx/default`|SD Worx's [OData API](https://apistaging.cobra.sdworx.com/Resources). We automatically authenticate all requests using the client ID and secret and use `\\{api_url\\}` as the base URL.| |Crelate|`crelate/api`|Crelate [REST API](https://help.crelate.com/en/articles/4120536-crelate-api-developer-guide). We automatically authenticate all requests and use `https://app.crelate.com/api3` as the base URL.| |Absence.io|`absenceio/v2`|Absence.io [API](https://docs.absence.io/). We automatically authenticate all requests and use `https://app.absence.io/api/v2` as the base URL.| |Manatal|`manatal/open-api-v3`|[Manatal's Open API v3](https://developers.manatal.com/reference/getting-started). We automatically authenticate all requests and use `https://api.manatal.com/open/v3` as the base URL.| |Manatal|`manatal/career-page`|Manatal's Career Page API. We use `https://api.manatal.com/open/v3/career-page/\\{client_slug\\}` as the base URL.| |Avionté|`avionte/front-office-v1`|Avionte's API. We automatically authenticate all requests and use `https://api.avionte.com/front-office/v1` as the base URL. Documentation for the BOLD Front Office API: https://developer.avionte.com/reference/get-all-talent-tags| |a3innuva Nómina|`a3innuvanomina/laboral`|a3innuva Nómina API [docs](https://a3developers.wolterskluwer.es/). Requests are automatically authenticated using OAuth access tokens (refreshed when needed). Base URL: `https://a3api.wolterskluwer.es/Laboral/api`.| |DATEV|`datevhr/hr-exports`|DATEV's [hr-exports](https://developer.datev.de/en/product-detail/hr-exports/1.0.0/overview). We automatically authenticate all requests and use `https://hr-exports.api.datev.de/\\{platform|platform-sandbox\\}/v1/clients/\\{client-id\\}` as the base URL.| |DATEV|`datevhr/hr:payrollreports`|DATEV's [hr:payrollreports](https://developer.datev.de/en/product-detail/hr-payrollreports/2.0.0/overview) API. We automatically authenticate all requests and use `https://hr-payrollreports.api.datev.de/\\{platform|platform-sandbox\\}/v1/clients/\\{client-id\\}/` as the base URL.| |DATEV|`datevhr/eau`|DATEV's [eau](https://developer.datev.de/en/product-detail/eau-api/1.0.0/overview) API. We automatically authenticate all requests and use `https://eau.api.datev.de/\\{platform|platform-sandbox\\}/v1/clients/\\{client-id\\}/` as the base URL.| |Sympa|`sympa/api`|Sympa's [API](https://documenter.getpostman.com/view/33639379/2sA3kXG1vX#intro). We automatically authenticate all requests and use `https://api.sympahr.net/api/` as the base URL.| |Breezy HR|`breezyhr/v3`|[BreezyHR's v3 API](https://developer.breezy.hr/reference/overview). We automatically authenticate all requests and use \"https://api.breezy.hr/v3/\" as the base URL.| |Flatchr|`flatchr/api`|Flatchr's [API](https://developers.flatchr.io/docs/getting_started). We automatically authenticate all requests and use `https://api.flatchr.io` as the base URL.| |Flatchr|`flatchr/career`|Flatchr's [Career API](https://developers.flatchr.io/docs/QuickStart/Candidats/Creer_un_candidat). We automatically authenticate all requests and use `https://career.flatchr.io` as the base URL.| |ApplicantStack|`applicantstack/api`|ApplicantStack's [API](https://helpas.payrollservers.info/s/article/API-Integration-Guide). We automatically authenticate all requests and use `https://\\{subdomain\\}.applicantstack.com/api/` as the base URL.| |Visma Raet - Youforce|`youforce/v1.0`|[Youforce's basic v1.0 API](https://vr-api-integration.github.io/youforce-api-documentation/postman_collections.html). We automatically authenticate all requests and use 'https://api.youforce.com' as base URL.| |PeopleXD|`peoplexd/b2b`|PeopleXD's [B2B API](https://documenter.getpostman.com/view/3101638/TzeTHUDu#intro). We automatically authenticate all requests and use `https://api.corehr.com/ws/\\{tenant_id\\}/corehr` or `https://uatapi.corehr.com/ws/\\{tenant_id\\}/corehr` as the base URL.|  <Note>Please note that the passthrough API endpoints are only meant for edge cases. That's why we only expose them for new integrations after understanding a concrete customer use case. If you have such a use case in mind, please reach out to Kombo.</Note>
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param tool [String] The ID of the tool whose passthrough API you want to call (e.g., &#x60;personio&#x60;).
    # @param api [String] The ID of the passthrough API you want to call (some tools provide multiple). Check the endpoint description for a list of all available APIs.
    # @param [Hash] opts the optional parameters
    # @option opts [PostPassthroughToolApiRequestBody] :post_passthrough_tool_api_request_body POST /passthrough/:tool/:api Request body
    # @return [PostPassthroughToolApiPositiveResponse]
    def post_passthrough_tool_api(x_integration_id, tool, api, opts = {})
      data, _status_code, _headers = post_passthrough_tool_api_with_http_info(x_integration_id, tool, api, opts)
      data
    end

    # Send passthrough request
    # Send a request to the specified integration&#39;s native API.  At Kombo we put a lot of work into making sure that our unified API covers all our customers&#39; use cases and that they never have to think about integration-specific logic again. There are cases, however, where our customers want to build features that are very integration-specific. That&#39;s where this endpoint comes in.  Pass in details about the request you want to make to the integration&#39;s API and we&#39;ll forward it for you. We&#39;ll also take care of setting the right base URL and authenticating your requests.  To get started, please pick the relevant API (some tools provide multiple to due different base URLs or authentication schemes) from the table below and pass in the &#x60;{tool}/{api}&#x60; identifier as part of the path.  |Integration|&#x60;{tool}/{api}&#x60;|Description| |---|---|---| |Personio|&#x60;personio/personnel&#x60;|Personio&#39;s [Personnel Data API](https://developer.personio.de/reference/get_company-employees). We automatically authenticate all requests using the client ID and secret and use &#x60;https://api.personio.de/v1&#x60; as the base URL.| |Personio|&#x60;personio/personnelv2&#x60;|Personio&#39;s [V2 Personnel Data API](https://developer.personio.de/v2.0/reference/introduction). We automatically authenticate all requests using the client ID and secret and use &#x60;https://api.personio.de/v2&#x60; as the base URL.| |Workday|&#x60;workday/soap&#x60;|[Workday&#39;s SOAP API](https://community.workday.com/sites/default/files/file-hosting/productionapi/index.html). We automatically authenticate all requests. Set &#x60;data&#x60; to your raw xml string. Use &#x60;/&#x60; as your &#x60;path&#x60;, as we will always send requests to &#x60;https://\\{domain\\}/ccx/service/\\{tenant\\}/\\{service_name\\}&#x60;. Set your &#x60;method&#x60; to &#x60;POST&#x60;. You need to specify the &#x60;api_options&#x60; object and set &#x60;service_name&#x60; to the name of the service you want to call. Find all available services [here](https://community.workday.com/sites/default/files/file-hosting/productionapi/versions/v41.0/index.html). The string that you submit as &#x60;data&#x60; will be the content of the &#x60;soapenv:Body&#x60; tag in the request. You can set the &#x60;service_version&#x60; to any valid Workday service version (the default is &#x60;38.2&#x60;).| |Workday|&#x60;workday/rest&#x60;|[Workday&#39;s REST API](https://community.workday.com/sites/default/files/file-hosting/restapi/index.html). We automatically authenticate all requests and use the correct Workday REST base URL for your tenant. The base URL follows the format: https://\\{domain\\}/api/\\{service_name\\}/\\{version\\}/\\{tenant\\}. You can specify any valid REST endpoint and method. See the Workday REST API documentation for available endpoints. You must specify the &#x60;api_options&#x60; object and set &#x60;service_name&#x60; to the name of the service you want to call. You can also specify the &#x60;version&#x60; (e.g., \&quot;v1\&quot;, \&quot;v2\&quot;); if omitted, it defaults to \&quot;v1\&quot;.| |SAP SuccessFactors|&#x60;successfactors/odata-v2&#x60;|[SuccessFactors&#39; OData V2 API](https://help.sap.com/doc/74597e67f54d4f448252bad4c2b601c9/2211/en-US/SF_HCM_OData_API_REF_en.pdf). We automatically authenticate all requests and use &#x60;https://\\{api_domain\\}\\{path?\\}/odata/v2&#x60; as the base URL (the optional &#x60;\\{path\\}&#x60; is used when connecting via proxied/gateway domains).| |SmartRecruiters|&#x60;smartrecruiters/default&#x60;|Smartrecruiters [API](https://developers.smartrecruiters.com/reference/apply-api). We automatically authenticate all requests using OAuth and use &#x60;https://api.smartrecruiters.com&#x60; as the base URL.| |SmartRecruiters|&#x60;smartrecruiters/default&#x60;|Smartrecruiters [API](https://developers.smartrecruiters.com/reference/apply-api). We automatically authenticate all requests using the credentials supplied by the customer and use &#x60;https://api.smartrecruiters.com&#x60; as the base URL.| |Factorial|&#x60;factorial/api&#x60;|Factorial&#39;s [API](https://apidoc.factorialhr.com/). We automatically authenticate all requests and use &#x60;https://api.factorialhr.com/api&#x60; or &#x60;https://api.demo.factorial.dev/api&#x60; as the base URL, depending on the connected instance.| |Oracle Recruiting Cloud|&#x60;oraclerecruiting/rest&#x60;|[Oracles&#39;s REST API](https://docs.oracle.com/en/cloud/saas/human-resources/24d/farws/rest-endpoints.html). We automatically authenticate all requests and use &#39;https://\\{company_url\\}&#39; as the base url.| |Oracle Recruiting Cloud|&#x60;oraclerecruiting/rest&#x60;|[Oracle&#39;s REST API](https://docs.oracle.com/en/cloud/saas/human-resources/24d/farws/rest-endpoints.html). We automatically authenticate all requests and use &#39;https://\\{company_url\\}&#39; as the base url.| |Lever|&#x60;lever/v1&#x60;|[Lever&#39;s v1 API](https://hire.lever.co/developer/documentation). We automatically authenticate all requests using the partner credentials which have been configured in the Lever tool settings (this uses Kombo&#39;s partner credentials by default).| |iCIMS|&#x60;icims/default&#x60;|[iCIMS Default API](https://developer-community.icims.com/). We automatically authenticate all requests and use &#x60;https://api.icims.com/customers/\\{customer_id\\}&#x60; as the base url.| |Recruitee|&#x60;recruitee/default&#x60;|The [Recruitee API](https://api.recruitee.com/docs/index.html). We automatically authenticate all requests and use &#x60;https://api.recruitee.com/c/\\{company_id\\}&#x60; as the base URL.| |RecruiterFlow|&#x60;recruiterflow/v1&#x60;|RecruiterFlow API [docs](https://docs.recruiterflow.com/). We automatically authenticate all requests using the RF-Api-Key header and use &#x60;https://api.recruiterflow.com&#x60; as the base URL.| |Greenhouse|&#x60;greenhouse/harvest&#x60;|Greenhouse [Harvest API](https://developers.greenhouse.io/harvest.html). We automatically authenticate all requests using the API key and use &#x60;https://harvest.greenhouse.io/v1&#x60; as the base URL.| |Greenhouse Job Board|&#x60;greenhousejobboard/boards-api&#x60;|[Greenhouse Job Board API](https://developers.greenhouse.io/job-board). We automatically authenticate all requests and use &#39;https://boards-api.greenhouse.io/v1/boards/\\{job_board_token\\}&#39; as the base URL. Optionally, you can provide a custom job_board_token to use a different job board.| |Teamtailor|&#x60;teamtailor/v1&#x60;|Teamtailor&#39;s [JSON-API](https://docs.teamtailor.com/). We authenticate all request with the Teamtailor API key and use the base URL &#x60;https://api.teamtailor.com/v1&#x60;.| |Teamtailor Job Boards|&#x60;teamtailorjobboards/direct-apply&#x60;|Teamtailor&#39;s [Job Board Direct Apply API](https://partner.teamtailor.com/job_boards/direct_apply/#direct-apply). We automatically authenticate all requests and use &#x60;https://5qbn6o9x4h.execute-api.eu-west-1.amazonaws.com/production&#x60; as the base URL. All requests are automatically signed with HMAC-SHA256 signature.| |Ashby|&#x60;ashby/v1&#x60;|Ashby&#39;s [V1 API](https://developers.ashbyhq.com/reference/introduction). We automatically authenticate all requests with the provided credentials and use &#x60;https://api.ashbyhq.com&#x60; as the base URL. Please note that Ashby uses an RPC-style API. Please check [the Ashby API documentation](https://developers.ashbyhq.com/reference/introduction) for details on how to use it.| |CEGID TalentSoft FrontOffice|&#x60;talentsoft/v2&#x60;|Cegid Talentsoft Recruiting FrontOffice [API](https://developers.cegid.com/api-details). We automatically authen
[...]
