=begin
#Kombo API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Kombo
  class KomboConnectApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get integration by token
    # Use this endpoint with the token you get from the connection flow to retrieve information about the created integration.    It works in a similar way as the OAuth2 code flow to securely retrieve information and connect the integration to your user.  > Check out [our full guide](/connect/embedded-flow) for more details about implementing the connection flow into your app.  This endpoint is used to ensure users can't trick your system connecting their account in your system to another customers integration. You don't get the integration ID from the `showKomboConnect(link)` function but only the short lived token used for this endpoint so that users can't send you arbitrary data that you would put into your system.
    # @param token [String] GET /connect/integration-by-token/:token Parameter
    # @param [Hash] opts the optional parameters
    # @return [GetConnectIntegrationByTokenTokenPositiveResponse]
    def get_connect_integration_by_token_token(token, opts = {})
      data, _status_code, _headers = get_connect_integration_by_token_token_with_http_info(token, opts)
      data
    end

    # Get integration by token
    # Use this endpoint with the token you get from the connection flow to retrieve information about the created integration.    It works in a similar way as the OAuth2 code flow to securely retrieve information and connect the integration to your user.  &gt; Check out [our full guide](/connect/embedded-flow) for more details about implementing the connection flow into your app.  This endpoint is used to ensure users can&#39;t trick your system connecting their account in your system to another customers integration. You don&#39;t get the integration ID from the &#x60;showKomboConnect(link)&#x60; function but only the short lived token used for this endpoint so that users can&#39;t send you arbitrary data that you would put into your system.
    # @param token [String] GET /connect/integration-by-token/:token Parameter
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetConnectIntegrationByTokenTokenPositiveResponse, Integer, Hash)>] GetConnectIntegrationByTokenTokenPositiveResponse data, response status code and response headers
    def get_connect_integration_by_token_token_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KomboConnectApi.get_connect_integration_by_token_token ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling KomboConnectApi.get_connect_integration_by_token_token"
      end
      # resource path
      local_var_path = '/connect/integration-by-token/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetConnectIntegrationByTokenTokenPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"KomboConnectApi.get_connect_integration_by_token_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KomboConnectApi#get_connect_integration_by_token_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Activate integration (optional)
    # Use this endpoint with the token you get from the connection flow to retrieve information about the created integration. It works in a similar way as the OAuth2 code flow to securely retrieve information and connect the integration to your user. You do not need to call this endpoint for an integration to become active.  <Warning>We are deprecating this endpoint in favour of the [get integration by code endpoint](/v1/get-integration-by-token-token). To migrate you only have to change to the new API endpoint.</Warning>  ### Example Request Body  ```json {   \"token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtZXNzYWdlIjoiVGhpcyBpcyBub3QgYW4gYWN0dWFsIHRva2VuLiJ9.JulqgOZBMKceI8vh9YLpVX51efND0ZyfUNHDXLrPz_4\" } ```
    # @param [Hash] opts the optional parameters
    # @option opts [PostConnectActivateIntegrationRequestBody] :post_connect_activate_integration_request_body POST /connect/activate-integration Request body
    # @return [PostConnectActivateIntegrationPositiveResponse]
    def post_connect_activate_integration(opts = {})
      data, _status_code, _headers = post_connect_activate_integration_with_http_info(opts)
      data
    end

    # Activate integration (optional)
    # Use this endpoint with the token you get from the connection flow to retrieve information about the created integration. It works in a similar way as the OAuth2 code flow to securely retrieve information and connect the integration to your user. You do not need to call this endpoint for an integration to become active.  &lt;Warning&gt;We are deprecating this endpoint in favour of the [get integration by code endpoint](/v1/get-integration-by-token-token). To migrate you only have to change to the new API endpoint.&lt;/Warning&gt;  ### Example Request Body  &#x60;&#x60;&#x60;json {   \&quot;token\&quot;: \&quot;eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtZXNzYWdlIjoiVGhpcyBpcyBub3QgYW4gYWN0dWFsIHRva2VuLiJ9.JulqgOZBMKceI8vh9YLpVX51efND0ZyfUNHDXLrPz_4\&quot; } &#x60;&#x60;&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [PostConnectActivateIntegrationRequestBody] :post_connect_activate_integration_request_body POST /connect/activate-integration Request body
    # @return [Array<(PostConnectActivateIntegrationPositiveResponse, Integer, Hash)>] PostConnectActivateIntegrationPositiveResponse data, response status code and response headers
    def post_connect_activate_integration_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KomboConnectApi.post_connect_activate_integration ...'
      end
      # resource path
      local_var_path = '/connect/activate-integration'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_connect_activate_integration_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostConnectActivateIntegrationPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"KomboConnectApi.post_connect_activate_integration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KomboConnectApi#post_connect_activate_integration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create connection link
    # Generate a unique link that allows your user to enter the embedded Kombo Connect flow.  > Check out [our full guide](/connect/embedded-flow) for more details about implementing the connection flow into your app.  > Kombo will not deduplicate integrations for you that are created with this endpoint. You are responsible for keeping track of integrations in your system and prevent customers from connecting the same tool again. Use the [reconnection link](/v1/post-integrations-integration-id-relink) endpoint if you want a customer to update their credentials.  ### Example Request Body  ```json {   \"end_user_email\": \"test@example.com\",   \"end_user_organization_name\": \"Test Inc.\",   \"integration_category\": \"HRIS\",   \"integration_tool\": \"personio\",   \"end_user_origin_id\": \"123\",   \"language\": \"en\",   \"link_type\": \"EMBEDDED\" } ```
    # @param [Hash] opts the optional parameters
    # @option opts [PostConnectCreateLinkRequestBody] :post_connect_create_link_request_body POST /connect/create-link Request body
    # @return [PostConnectCreateLinkPositiveResponse]
    def post_connect_create_link(opts = {})
      data, _status_code, _headers = post_connect_create_link_with_http_info(opts)
      data
    end

    # Create connection link
    # Generate a unique link that allows your user to enter the embedded Kombo Connect flow.  &gt; Check out [our full guide](/connect/embedded-flow) for more details about implementing the connection flow into your app.  &gt; Kombo will not deduplicate integrations for you that are created with this endpoint. You are responsible for keeping track of integrations in your system and prevent customers from connecting the same tool again. Use the [reconnection link](/v1/post-integrations-integration-id-relink) endpoint if you want a customer to update their credentials.  ### Example Request Body  &#x60;&#x60;&#x60;json {   \&quot;end_user_email\&quot;: \&quot;test@example.com\&quot;,   \&quot;end_user_organization_name\&quot;: \&quot;Test Inc.\&quot;,   \&quot;integration_category\&quot;: \&quot;HRIS\&quot;,   \&quot;integration_tool\&quot;: \&quot;personio\&quot;,   \&quot;end_user_origin_id\&quot;: \&quot;123\&quot;,   \&quot;language\&quot;: \&quot;en\&quot;,   \&quot;link_type\&quot;: \&quot;EMBEDDED\&quot; } &#x60;&#x60;&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [PostConnectCreateLinkRequestBody] :post_connect_create_link_request_body POST /connect/create-link Request body
    # @return [Array<(PostConnectCreateLinkPositiveResponse, Integer, Hash)>] PostConnectCreateLinkPositiveResponse data, response status code and response headers
    def post_connect_create_link_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KomboConnectApi.post_connect_create_link ...'
      end
      # resource path
      local_var_path = '/connect/create-link'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_connect_create_link_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostConnectCreateLinkPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"KomboConnectApi.post_connect_create_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KomboConnectApi#post_connect_create_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
