=begin
#Kombo API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Kombo
  class UnifiedATSAssessmentBackgroundCheckAPIApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get open orders
    # Get all open assessment and background check orders of an integration.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @return [GetAssessmentOrdersOpenPositiveResponse]
    def get_assessment_orders_open(x_integration_id, opts = {})
      data, _status_code, _headers = get_assessment_orders_open_with_http_info(x_integration_id, opts)
      data
    end

    # Get open orders
    # Get all open assessment and background check orders of an integration.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @return [Array<(GetAssessmentOrdersOpenPositiveResponse, Integer, Hash)>] GetAssessmentOrdersOpenPositiveResponse data, response status code and response headers
    def get_assessment_orders_open_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedATSAssessmentBackgroundCheckAPIApi.get_assessment_orders_open ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedATSAssessmentBackgroundCheckAPIApi.get_assessment_orders_open"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedATSAssessmentBackgroundCheckAPIApi.get_assessment_orders_open, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedATSAssessmentBackgroundCheckAPIApi.get_assessment_orders_open, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/assessment/orders/open'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAssessmentOrdersOpenPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedATSAssessmentBackgroundCheckAPIApi.get_assessment_orders_open",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedATSAssessmentBackgroundCheckAPIApi#get_assessment_orders_open\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get packages
    # Get all available assessment and background check packages for an integration.  This is mainly intended for debugging. As you always need to submit the full list of available packages when using [\"set packages\"](/assessment/v1/put-packages), there shouldn't ever be a need to call this endpoint in production.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @return [GetAssessmentPackagesPositiveResponse]
    def get_assessment_packages(x_integration_id, opts = {})
      data, _status_code, _headers = get_assessment_packages_with_http_info(x_integration_id, opts)
      data
    end

    # Get packages
    # Get all available assessment and background check packages for an integration.  This is mainly intended for debugging. As you always need to submit the full list of available packages when using [\&quot;set packages\&quot;](/assessment/v1/put-packages), there shouldn&#39;t ever be a need to call this endpoint in production.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAssessmentPackagesPositiveResponse, Integer, Hash)>] GetAssessmentPackagesPositiveResponse data, response status code and response headers
    def get_assessment_packages_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedATSAssessmentBackgroundCheckAPIApi.get_assessment_packages ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedATSAssessmentBackgroundCheckAPIApi.get_assessment_packages"
      end
      # resource path
      local_var_path = '/assessment/packages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAssessmentPackagesPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedATSAssessmentBackgroundCheckAPIApi.get_assessment_packages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedATSAssessmentBackgroundCheckAPIApi#get_assessment_packages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update order result
    # Updates an assessment or a background check order result.  ### Example Request Body  ```json {   \"status\": \"COMPLETED\",   \"score\": 90,   \"max_score\": 100,   \"result_url\": \"https://example.com\",   \"completed_at\": \"2023-04-04T00:00:00.000Z\",   \"attributes\": [     {       \"type\": \"TEXT\",       \"label\": \"Role fit\",       \"value\": \"Excellent\"     },     {       \"type\": \"SUB_RESULT\",       \"id\": \"<YOUR_INTERNAL_ID_OF_THE_TEST>\",       \"label\": \"Personality test\",       \"score\": {         \"value\": 97,         \"max\": 100       },       \"status\": \"COMPLETED\"     }   ],   \"attachments\": [     {       \"name\": \"Assessment Report.pdf\",       \"data\": \"SGkgdGhlcmUsIEtvbWJvIGlzIGN1cnJlbnRseSBoaXJpbmcgZW5naW5lZXJzIHRoYXQgbG92ZSB0byB3b3JrIG9uIGRldmVsb3BlciBwcm9kdWN0cy4=\",       \"content_type\": \"application/pdf\"     }   ] } ```
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param assessment_order_id [String] PUT /assessment/orders/:assessment_order_id/result Parameter
    # @param [Hash] opts the optional parameters
    # @option opts [PutAssessmentOrdersAssessmentOrderIdResultRequestBody] :put_assessment_orders_assessment_order_id_result_request_body PUT /assessment/orders/:assessment_order_id/result Request body
    # @return [PutAssessmentOrdersAssessmentOrderIdResultPositiveResponse]
    def put_assessment_orders_assessment_order_id_result(x_integration_id, assessment_order_id, opts = {})
      data, _status_code, _headers = put_assessment_orders_assessment_order_id_result_with_http_info(x_integration_id, assessment_order_id, opts)
      data
    end

    # Update order result
    # Updates an assessment or a background check order result.  ### Example Request Body  &#x60;&#x60;&#x60;json {   \&quot;status\&quot;: \&quot;COMPLETED\&quot;,   \&quot;score\&quot;: 90,   \&quot;max_score\&quot;: 100,   \&quot;result_url\&quot;: \&quot;https://example.com\&quot;,   \&quot;completed_at\&quot;: \&quot;2023-04-04T00:00:00.000Z\&quot;,   \&quot;attributes\&quot;: [     {       \&quot;type\&quot;: \&quot;TEXT\&quot;,       \&quot;label\&quot;: \&quot;Role fit\&quot;,       \&quot;value\&quot;: \&quot;Excellent\&quot;     },     {       \&quot;type\&quot;: \&quot;SUB_RESULT\&quot;,       \&quot;id\&quot;: \&quot;&lt;YOUR_INTERNAL_ID_OF_THE_TEST&gt;\&quot;,       \&quot;label\&quot;: \&quot;Personality test\&quot;,       \&quot;score\&quot;: {         \&quot;value\&quot;: 97,         \&quot;max\&quot;: 100       },       \&quot;status\&quot;: \&quot;COMPLETED\&quot;     }   ],   \&quot;attachments\&quot;: [     {       \&quot;name\&quot;: \&quot;Assessment Report.pdf\&quot;,       \&quot;data\&quot;: \&quot;SGkgdGhlcmUsIEtvbWJvIGlzIGN1cnJlbnRseSBoaXJpbmcgZW5naW5lZXJzIHRoYXQgbG92ZSB0byB3b3JrIG9uIGRldmVsb3BlciBwcm9kdWN0cy4&#x3D;\&quot;,       \&quot;content_type\&quot;: \&quot;application/pdf\&quot;     }   ] } &#x60;&#x60;&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param assessment_order_id [String] PUT /assessment/orders/:assessment_order_id/result Parameter
    # @param [Hash] opts the optional parameters
    # @option opts [PutAssessmentOrdersAssessmentOrderIdResultRequestBody] :put_assessment_orders_assessment_order_id_result_request_body PUT /assessment/orders/:assessment_order_id/result Request body
    # @return [Array<(PutAssessmentOrdersAssessmentOrderIdResultPositiveResponse, Integer, Hash)>] PutAssessmentOrdersAssessmentOrderIdResultPositiveResponse data, response status code and response headers
    def put_assessment_orders_assessment_order_id_result_with_http_info(x_integration_id, assessment_order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedATSAssessmentBackgroundCheckAPIApi.put_assessment_orders_assessment_order_id_result ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedATSAssessmentBackgroundCheckAPIApi.put_assessment_orders_assessment_order_id_result"
      end
      # verify the required parameter 'assessment_order_id' is set
      if @api_client.config.client_side_validation && assessment_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'assessment_order_id' when calling UnifiedATSAssessmentBackgroundCheckAPIApi.put_assessment_orders_assessment_order_id_result"
      end
      # resource path
      local_var_path = '/assessment/orders/{assessment_order_id}/result'.sub('{' + 'assessment_order_id' + '}', CGI.escape(assessment_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'put_assessment_orders_assessment_order_id_result_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PutAssessmentOrdersAssessmentOrderIdResultPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedATSAssessmentBackgroundCheckAPIApi.put_assessment_orders_assessment_order_id_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedATSAssessmentBackgroundCheckAPIApi#put_assessment_orders_assessment_order_id_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set packages
    # Set packages  Replaces the list of available assessment and or background check packages.  Packages that have been previously submitted through this endpoint but aren't included again will be marked as deleted.  ### Example Request Body  ```json {   \"packages\": [     {       \"id\": \"1001\",       \"type\": \"SKILLS_TEST\",       \"name\": \"TypeScript\",       \"description\": \"TypeScript coding skills assessments\"     },     {       \"id\": \"1002\",       \"type\": \"VIDEO_INTERVIEW\",       \"name\": \"Video Interview\",       \"description\": \"Video interview to assess communication skills\"     }   ] } ```
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [PutAssessmentPackagesRequestBody] :put_assessment_packages_request_body PUT /assessment/packages Request body
    # @return [PutAssessmentPackagesPositiveResponse]
    def put_assessment_packages(x_integration_id, opts = {})
      data, _status_code, _headers = put_assessment_packages_with_http_info(x_integration_id, opts)
      data
    end

    # Set packages
    # Set packages  Replaces the list of available assessment and or background check packages.  Packages that have been previously submitted through this endpoint but aren&#39;t included again will be marked as deleted.  ### Example Request Body  &#x60;&#x60;&#x60;json {   \&quot;packages\&quot;: [     {       \&quot;id\&quot;: \&quot;1001\&quot;,       \&quot;type\&quot;: \&quot;SKILLS_TEST\&quot;,       \&quot;name\&quot;: \&quot;TypeScript\&quot;,       \&quot;description\&quot;: \&quot;TypeScript coding skills assessments\&quot;     },     {       \&quot;id\&quot;: \&quot;1002\&quot;,       \&quot;type\&quot;: \&quot;VIDEO_INTERVIEW\&quot;,       \&quot;name\&quot;: \&quot;Video Interview\&quot;,       \&quot;description\&quot;: \&quot;Video interview to assess communication skills\&quot;     }   ] } &#x60;&#x60;&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [PutAssessmentPackagesRequestBody] :put_assessment_packages_request_body PUT /assessment/packages Request body
    # @return [Array<(PutAssessmentPackagesPositiveResponse, Integer, Hash)>] PutAssessmentPackagesPositiveResponse data, response status code and response headers
    def put_assessment_packages_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedATSAssessmentBackgroundCheckAPIApi.put_assessment_packages ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedATSAssessmentBackgroundCheckAPIApi.put_assessment_packages"
      end
      # resource path
      local_var_path = '/assessment/packages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'put_assessment_packages_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PutAssessmentPackagesPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedATSAssessmentBackgroundCheckAPIApi.put_assessment_packages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedATSAssessmentBackgroundCheckAPIApi#put_assessment_packages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
