=begin
#Kombo API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Kombo
  class UnifiedHRISAPIApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete absence
    # Delete this absence.  <Note>   This endpoint requires the permission **Manage absences** to be enabled in [your scope config](/scopes). </Note>  ### Example Request Body  ```json {   \"absence_id\": \"wXJMxwDvPAjrJ4CyqdV9\" } ```
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param absence_id [String] The Kombo ID of the absence
    # @param [Hash] opts the optional parameters
    # @option opts [DeleteHrisAbsencesAbsenceIdRequestBody] :delete_hris_absences_absence_id_request_body DELETE /hris/absences/:absence_id Request body
    # @return [DeleteHrisAbsencesAbsenceIdPositiveResponse]
    def delete_hris_absences_absence_id(x_integration_id, absence_id, opts = {})
      data, _status_code, _headers = delete_hris_absences_absence_id_with_http_info(x_integration_id, absence_id, opts)
      data
    end

    # Delete absence
    # Delete this absence.  &lt;Note&gt;   This endpoint requires the permission **Manage absences** to be enabled in [your scope config](/scopes). &lt;/Note&gt;  ### Example Request Body  &#x60;&#x60;&#x60;json {   \&quot;absence_id\&quot;: \&quot;wXJMxwDvPAjrJ4CyqdV9\&quot; } &#x60;&#x60;&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param absence_id [String] The Kombo ID of the absence
    # @param [Hash] opts the optional parameters
    # @option opts [DeleteHrisAbsencesAbsenceIdRequestBody] :delete_hris_absences_absence_id_request_body DELETE /hris/absences/:absence_id Request body
    # @return [Array<(DeleteHrisAbsencesAbsenceIdPositiveResponse, Integer, Hash)>] DeleteHrisAbsencesAbsenceIdPositiveResponse data, response status code and response headers
    def delete_hris_absences_absence_id_with_http_info(x_integration_id, absence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedHRISAPIApi.delete_hris_absences_absence_id ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedHRISAPIApi.delete_hris_absences_absence_id"
      end
      # verify the required parameter 'absence_id' is set
      if @api_client.config.client_side_validation && absence_id.nil?
        fail ArgumentError, "Missing the required parameter 'absence_id' when calling UnifiedHRISAPIApi.delete_hris_absences_absence_id"
      end
      # resource path
      local_var_path = '/hris/absences/{absence_id}'.sub('{' + 'absence_id' + '}', CGI.escape(absence_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_hris_absences_absence_id_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteHrisAbsencesAbsenceIdPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedHRISAPIApi.delete_hris_absences_absence_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedHRISAPIApi#delete_hris_absences_absence_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete employee skill assignment
    # Delete employee skill assignment    <Warning>**Closed Beta Feature:** This endpoint is currently in closed beta. We're testing it with selected customers before its public release. If you're interested in learning more or getting early access, please reach out.</Warning>    Remove a skill assignment from an employee.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param employee_skill_assignment_id [String] The ID of the employee skill assignment
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body DELETE /hris/employee-skill-assignments/:employee_skill_assignment_id Request body
    # @return [DeleteHrisEmployeeSkillAssignmentsEmployeeSkillAssignmentIdPositiveResponse]
    def delete_hris_employee_skill_assignments_employee_skill_assignment_id(x_integration_id, employee_skill_assignment_id, opts = {})
      data, _status_code, _headers = delete_hris_employee_skill_assignments_employee_skill_assignment_id_with_http_info(x_integration_id, employee_skill_assignment_id, opts)
      data
    end

    # Delete employee skill assignment
    # Delete employee skill assignment    &lt;Warning&gt;**Closed Beta Feature:** This endpoint is currently in closed beta. We&#39;re testing it with selected customers before its public release. If you&#39;re interested in learning more or getting early access, please reach out.&lt;/Warning&gt;    Remove a skill assignment from an employee.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param employee_skill_assignment_id [String] The ID of the employee skill assignment
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body DELETE /hris/employee-skill-assignments/:employee_skill_assignment_id Request body
    # @return [Array<(DeleteHrisEmployeeSkillAssignmentsEmployeeSkillAssignmentIdPositiveResponse, Integer, Hash)>] DeleteHrisEmployeeSkillAssignmentsEmployeeSkillAssignmentIdPositiveResponse data, response status code and response headers
    def delete_hris_employee_skill_assignments_employee_skill_assignment_id_with_http_info(x_integration_id, employee_skill_assignment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedHRISAPIApi.delete_hris_employee_skill_assignments_employee_skill_assignment_id ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedHRISAPIApi.delete_hris_employee_skill_assignments_employee_skill_assignment_id"
      end
      # verify the required parameter 'employee_skill_assignment_id' is set
      if @api_client.config.client_side_validation && employee_skill_assignment_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_skill_assignment_id' when calling UnifiedHRISAPIApi.delete_hris_employee_skill_assignments_employee_skill_assignment_id"
      end
      # resource path
      local_var_path = '/hris/employee-skill-assignments/{employee_skill_assignment_id}'.sub('{' + 'employee_skill_assignment_id' + '}', CGI.escape(employee_skill_assignment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteHrisEmployeeSkillAssignmentsEmployeeSkillAssignmentIdPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedHRISAPIApi.delete_hris_employee_skill_assignments_employee_skill_assignment_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedHRISAPIApi#delete_hris_employee_skill_assignments_employee_skill_assignment_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete skill
    # Delete skill    <Warning>**Closed Beta Feature:** This endpoint is currently in closed beta. We're testing it with selected customers before its public release. If you're interested in learning more or getting early access, please reach out.</Warning>    Delete a skill from the HRIS system.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param skill_id [String] The ID of the skill
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body DELETE /hris/skills/:skill_id Request body
    # @return [DeleteHrisSkillsSkillIdPositiveResponse]
    def delete_hris_skills_skill_id(x_integration_id, skill_id, opts = {})
      data, _status_code, _headers = delete_hris_skills_skill_id_with_http_info(x_integration_id, skill_id, opts)
      data
    end

    # Delete skill
    # Delete skill    &lt;Warning&gt;**Closed Beta Feature:** This endpoint is currently in closed beta. We&#39;re testing it with selected customers before its public release. If you&#39;re interested in learning more or getting early access, please reach out.&lt;/Warning&gt;    Delete a skill from the HRIS system.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param skill_id [String] The ID of the skill
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body DELETE /hris/skills/:skill_id Request body
    # @return [Array<(DeleteHrisSkillsSkillIdPositiveResponse, Integer, Hash)>] DeleteHrisSkillsSkillIdPositiveResponse data, response status code and response headers
    def delete_hris_skills_skill_id_with_http_info(x_integration_id, skill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedHRISAPIApi.delete_hris_skills_skill_id ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedHRISAPIApi.delete_hris_skills_skill_id"
      end
      # verify the required parameter 'skill_id' is set
      if @api_client.config.client_side_validation && skill_id.nil?
        fail ArgumentError, "Missing the required parameter 'skill_id' when calling UnifiedHRISAPIApi.delete_hris_skills_skill_id"
      end
      # resource path
      local_var_path = '/hris/skills/{skill_id}'.sub('{' + 'skill_id' + '}', CGI.escape(skill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteHrisSkillsSkillIdPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedHRISAPIApi.delete_hris_skills_skill_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedHRISAPIApi#delete_hris_skills_skill_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get absence types
    # Retrieve all absence types.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetHrisAbsenceTypesParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @return [GetHrisAbsenceTypesPositiveResponse]
    def get_hris_absence_types(x_integration_id, opts = {})
      data, _status_code, _headers = get_hris_absence_types_with_http_info(x_integration_id, opts)
      data
    end

    # Get absence types
    # Retrieve all absence types.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: &#x60;(id IN ids) AND (remote_id IN remote_ids)&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetHrisAbsenceTypesParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @return [Array<(GetHrisAbsenceTypesPositiveResponse, Integer, Hash)>] GetHrisAbsenceTypesPositiveResponse data, response status code and response headers
    def get_hris_absence_types_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedHRISAPIApi.get_hris_absence_types ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedHRISAPIApi.get_hris_absence_types"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedHRISAPIApi.get_hris_absence_types, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedHRISAPIApi.get_hris_absence_types, must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}(T\d{2}:\d{2}:\d{2}(\.\d+)?)?Z?$/)
      if @api_client.config.client_side_validation && !opts[:'updated_after'].nil? && opts[:'updated_after'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"updated_after\"]' when calling UnifiedHRISAPIApi.get_hris_absence_types, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/hris/absence-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'remote_ids'] = opts[:'remote_ids'] if !opts[:'remote_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetHrisAbsenceTypesPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedHRISAPIApi.get_hris_absence_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedHRISAPIApi#get_hris_absence_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get absences
    # Retrieve all absences.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetHrisAbsencesParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [Time] :date_from Filter for all the absences that either start _or_ haven&#39;t ended yet on/after this day. If you imagine a calendar displaying absences, this defines the left-most visible day. This is a plain date (i.e., &#x60;yyyy-MM-dd&#x60;), all time information is discarded.
    # @option opts [Time] :date_until Filter for absences that start on or before this day (but might continue after). If you imagine a calendar displaying absences, this defines the right-most visible day. This is a plain date (i.e., &#x60;yyyy-MM-dd&#x60;), all time information is discarded.
    # @option opts [String] :type_ids Filter by a comma-separated list of absence type IDs.
    # @option opts [String] :employee_id Filter by a specific employee using their ID.
    # @option opts [Time] :time_from **(⚠️ Deprecated - Use the &#x60;date_from&#x60; filter instead.)** Filter for absences that either start after or start before and end after a certain time.
    # @option opts [Time] :time_until **(⚠️ Deprecated - Use the &#x60;date_until&#x60; filter instead.)** Filter for absences that start before a certain time.
    # @return [GetHrisAbsencesPositiveResponse]
    def get_hris_absences(x_integration_id, opts = {})
      data, _status_code, _headers = get_hris_absences_with_http_info(x_integration_id, opts)
      data
    end

    # Get absences
    # Retrieve all absences.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: &#x60;(id IN ids) AND (remote_id IN remote_ids)&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetHrisAbsencesParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [Time] :date_from Filter for all the absences that either start _or_ haven&#39;t ended yet on/after this day. If you imagine a calendar displaying absences, this defines the left-most visible day. This is a plain date (i.e., &#x60;yyyy-MM-dd&#x60;), all time information is discarded.
    # @option opts [Time] :date_until Filter for absences that start on or before this day (but might continue after). If you imagine a calendar displaying absences, this defines the right-most visible day. This is a plain date (i.e., &#x60;yyyy-MM-dd&#x60;), all time information is discarded.
    # @option opts [String] :type_ids Filter by a comma-separated list of absence type IDs.
    # @option opts [String] :employee_id Filter by a specific employee using their ID.
    # @option opts [Time] :time_from **(⚠️ Deprecated - Use the &#x60;date_from&#x60; filter instead.)** Filter for absences that either start after or start before and end after a certain time.
    # @option opts [Time] :time_until **(⚠️ Deprecated - Use the &#x60;date_until&#x60; filter instead.)** Filter for absences that start before a certain time.
    # @return [Array<(GetHrisAbsencesPositiveResponse, Integer, Hash)>] GetHrisAbsencesPositiveResponse data, response status code and response headers
    def get_hris_absences_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedHRISAPIApi.get_hris_absences ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedHRISAPIApi.get_hris_absences"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedHRISAPIApi.get_hris_absences, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedHRISAPIApi.get_hris_absences, must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}(T\d{2}:\d{2}:\d{2}(\.\d+)?)?Z?$/)
      if @api_client.config.client_side_validation && !opts[:'updated_after'].nil? && opts[:'updated_after'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"updated_after\"]' when calling UnifiedHRISAPIApi.get_hris_absences, must conform to the pattern #{pattern}."
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}(T\d{2}:\d{2}:\d{2}(\.\d+)?)?Z?$/)
      if @api_client.config.client_side_validation && !opts[:'date_from'].nil? && opts[:'date_from'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"date_from\"]' when calling UnifiedHRISAPIApi.get_hris_absences, must conform to the pattern #{pattern}."
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}(T\d{2}:\d{2}:\d{2}(\.\d+)?)?Z?$/)
      if @api_client.config.client_side_validation && !opts[:'date_until'].nil? && opts[:'date_until'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"date_until\"]' when calling UnifiedHRISAPIApi.get_hris_absences, must conform to the pattern #{pattern}."
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}(T\d{2}:\d{2}:\d{2}(\.\d+)?)?Z?$/)
      if @api_client.config.client_side_validation && !opts[:'time_from'].nil? && opts[:'time_from'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"time_from\"]' when calling UnifiedHRISAPIApi.get_hris_absences, must conform to the pattern #{pattern}."
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}(T\d{2}:\d{2}:\d{2}(\.\d+)?)?Z?$/)
      if @api_client.config.client_side_validation && !opts[:'time_until'].nil? && opts[:'time_until'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"time_until\"]' when calling UnifiedHRISAPIApi.get_hris_absences, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/hris/absences'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'remote_ids'] = opts[:'remote_ids'] if !opts[:'remote_ids'].nil?
      query_params[:'date_from'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'date_until'] = opts[:'date_until'] if !opts[:'date_until'].nil?
      query_params[:'type_ids'] = opts[:'type_ids'] if !opts[:'type_ids'].nil?
      query_params[:'employee_id'] = opts[:'employee_id'] if !opts[:'employee_id'].nil?
      query_params[:'time_from'] = opts[:'time_from'] if !opts[:'time_from'].nil?
      query_params[:'time_until'] = opts[:'time_until'] if !opts[:'time_until'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetHrisAbsencesPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedHRISAPIApi.get_hris_absences",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedHRISAPIApi#get_hris_absences\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get employee document categories
    # Get employee document categories.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetHrisEmployeeDocumentCategoriesParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @return [GetHrisEmployeeDocumentCategoriesPositiveResponse]
    def get_hris_employee_document_categories(x_integration_id, opts = {})
      data, _status_code, _headers = get_hris_employee_document_categories_with_http_info(x_integration_id, opts)
      data
    end

    # Get employee document categories
    # Get employee document categories.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: &#x60;(id IN ids) AND (remote_id IN remote_ids)&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetHrisEmployeeDocumentCategoriesParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @return [Array<(GetHrisEmployeeDocumentCategoriesPositiveResponse, Integer, Hash)>] GetHrisEmployeeDocumentCategoriesPositiveResponse data, response status code and response headers
    def get_hris_employee_document_categories_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedHRISAPIApi.get_hris_employee_document_categories ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedHRISAPIApi.get_hris_employee_document_categories"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedHRISAPIApi.get_hris_employee_document_categories, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedHRISAPIApi.get_hris_employee_document_categories, must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}(T\d{2}:\d{2}:\d{2}(\.\d+)?)?Z?$/)
      if @api_client.config.client_side_validation && !opts[:'updated_after'].nil? && opts[:'updated_after'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"updated_after\"]' when calling UnifiedHRISAPIApi.get_hris_employee_document_categories, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/hris/employee-document-categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'remote_ids'] = opts[:'remote_ids'] if !opts[:'remote_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetHrisEmployeeDocumentCategoriesPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedHRISAPIApi.get_hris_employee_document_categories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedHRISAPIApi#get_hris_employee_document_categories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get employee skill assignments
    # Get employee skill assignments    <Warning>**Closed Beta Feature:** This endpoint is currently in closed beta. We're testing it with selected customers before its public release. If you're interested in learning more or getting early access, please reach out.</Warning>    Retrieve all employee skill assignments. These represent the skills that employees possess and their current proficiency levels.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [String] :employee_ids Filter by a comma-separated list of employee IDs.
    # @option opts [String] :skill_ids Filter by a comma-separated list of skill IDs.
    # @return [GetHrisEmployeeSkillAssignmentsPositiveResponse]
    def get_hris_employee_skill_assignments(x_integration_id, opts = {})
      data, _status_code, _headers = get_hris_employee_skill_assignments_with_http_info(x_integration_id, opts)
      data
    end

    # Get employee skill assignments
    # Get employee skill assignments    &lt;Warning&gt;**Closed Beta Feature:** This endpoint is currently in closed beta. We&#39;re testing it with selected customers before its public release. If you&#39;re interested in learning more or getting early access, please reach out.&lt;/Warning&gt;    Retrieve all employee skill assignments. These represent the skills that employees possess and their current proficiency levels.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [String] :employee_ids Filter by a comma-separated list of employee IDs.
    # @option opts [String] :skill_ids Filter by a comma-separated list of skill IDs.
    # @return [Array<(GetHrisEmployeeSkillAssignmentsPositiveResponse, Integer, Hash)>] GetHrisEmployeeSkillAssignmentsPositiveResponse data, response status code and response headers
    def get_hris_employee_skill_assignments_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedHRISAPIApi.get_hris_employee_skill_assignments ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedHRISAPIApi.get_hris_employee_skill_assignments"
      end
      # resource path
      local_var_path = '/hris/employee-skill-assignments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'remote_ids'] = opts[:'remote_ids'] if !opts[:'remote_ids'].nil?
      query_params[:'employee_ids'] = opts[:'employee_ids'] if !opts[:'employee_ids'].nil?
      query_params[:'skill_ids'] = opts[:'skill_ids'] if !opts[:'skill_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetHrisEmployeeSkillAssignmentsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedHRISAPIApi.get_hris_employee_skill_assignments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedHRISAPIApi#get_hris_employee_skill_assignments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get employees
    # Retrieve all employees.  <Note>Not interested in most fields? You can use our [our Scopes feature](/scopes) to customize what data points are synced.</Note>  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetHrisEmployeesParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [GetHrisEmployeesParameterEmploymentStatus] :employment_status **(⚠️ Deprecated - Use the &#x60;employment_statuses&#x60; filter instead.)** Filter by the &#x60;employment_status&#x60; field.
    # @option opts [String] :employment_statuses Filter by a comma-separated list of &#x60;ACTIVE&#x60;, &#x60;PENDING&#x60;, &#x60;INACTIVE&#x60;, &#x60;LEAVE&#x60;  * &#x60;ACTIVE&#x60;: the employee is **actively employed**  * &#x60;PENDING&#x60;: the employee is **not actively employed yet** (but they signed their contract or are part of an onboarding process)  * &#x60;INACTIVE&#x60;: a full-time employee is no longer employed, or, for a contract worker when their contract runs out  * &#x60;LEAVE&#x60;: the employee is still employed but **currently on leave** (note that not all HR systems support this status — use our absences API for detailed information)     Leave this blank to get results matching all values.
    # @option opts [String] :group_ids Filter by a comma-separated list of group IDs. We will only return employees that are members of _any_ of the groups.
    # @option opts [String] :legal_entity_ids Filter by a comma-separated list of legal entity IDs. We will only return employees that are members of _any_ of the legal entities.
    # @option opts [String] :work_location_ids Filter by a comma-separated list of work location IDs. We will only return employees who are at _any_ of the work locations.
    # @option opts [String] :work_emails Filter by a comma-separated list of work emails. We will only return employees who have _any_ of the work emails. The format of the emails is case-insensitive.
    # @option opts [String] :personal_emails Filter by a comma-separated list of personal emails. We will only return employees who have _any_ of the personal emails. The format of the emails is case-insensitive.
    # @option opts [String] :custom_fields A JSON string with a single key-value pair like {\&quot;fieldKey\&quot;:\&quot;fieldValue\&quot;} to filter employees by a specific custom field value. Note that the value must be a string, number, boolean or null and the key must be a valid custom field key. Custom fields with a value of type array or object are not supported.
    # @return [GetHrisEmployeesPositiveResponse]
    def get_hris_employees(x_integration_id, opts = {})
      data, _status_code, _headers = get_hris_employees_with_http_info(x_integration_id, opts)
      data
    end

    # Get employees
    # Retrieve all employees.  &lt;Note&gt;Not interested in most fields? You can use our [our Scopes feature](/scopes) to customize what data points are synced.&lt;/Note&gt;  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: &#x60;(id IN ids) AND (remote_id IN remote_ids)&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetHrisEmployeesParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [GetHrisEmployeesParameterEmploymentStatus] :employment_status **(⚠️ Deprecated - Use the &#x60;employment_statuses&#x60; filter instead.)** Filter by the &#x60;employment_status&#x60; field.
    # @option opts [String] :employment_statuses Filter by a comma-separated list of &#x60;ACTIVE&#x60;, &#x60;PENDING&#x60;, &#x60;INACTIVE&#x60;, &#x60;LEAVE&#x60;  * &#x60;ACTIVE&#x60;: the employee is **actively employed**  * &#x60;PENDING&#x60;: the employee is **not actively employed yet** (but they signed their contract or are part of an onboarding process)  * &#x60;INACTIVE&#x60;: a full-time employee is no longer employed, or, for a contract worker when their contract runs out  * &#x60;LEAVE&#x60;: the employee is still employed but **currently on leave** (note that not all HR systems support this status — use our absences API for detailed information)     Leave this blank to get results matching all values.
    # @option opts [String] :group_ids Filter by a comma-separated list of group IDs. We will only return employees that are members of _any_ of the groups.
    # @option opts [String] :legal_entity_ids Filter by a comma-separated list of legal entity IDs. We will only return employees that are members of _any_ of the legal entities.
    # @option opts [String] :work_location_ids Filter by a comma-separated list of work location IDs. We will only return employees who are at _any_ of the work locations.
    # @option opts [String] :work_emails Filter by a comma-separated list of work emails. We will only return employees who have _any_ of the work emails. The format of the emails is case-insensitive.
    # @option opts [String] :personal_emails Filter by a comma-separated list of personal emails. We will only return employees who have _any_ of the personal emails. The format of the emails is case-insensitive.
    # @option opts [String] :custom_fields A JSON string with a single key-value pair like {\&quot;fieldKey\&quot;:\&quot;fieldValue\&quot;} to filter employees by a specific custom field value. Note that the value must be a string, number, boolean or null and the key must be a valid custom field key. Custom fields with a value of type array or object are not supported.
    # @return [Array<(GetHrisEmployeesPositiveResponse, Integer, Hash)>] GetHrisEmployeesPositiveResponse data, response status code and response headers
    def get_hris_employees_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedHRISAPIApi.get_hris_employees ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedHRISAPIApi.get_hris_employees"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedHRISAPIApi.get_hris_employees, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedHRISAPIApi.get_hris_employees, must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}(T\d{2}:\d{2}:\d{2}(\.\d+)?)?Z?$/)
      if @api_client.config.client_side_validation && !opts[:'updated_after'].nil? && opts[:'updated_after'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"updated_after\"]' when calling UnifiedHRISAPIApi.get_hris_employees, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/hris/employees'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'remote_ids'] = opts[:'remote_ids'] if !opts[:'remote_ids'].nil?
      query_params[:'employment_status'] = opts[:'employment_status'] if !opts[:'employment_status'].nil?
      query_params[:'employment_statuses'] = opts[:'employment_statuses'] if !opts[:'employment_statuses'].nil?
      query_params[:'group_ids'] = opts[:'group_ids'] if !opts[:'group_ids'].nil?
      query_params[:'legal_entity_ids'] = opts[:'legal_entity_ids'] if !opts[:'legal_entity_ids'].nil?
      query_params[:'work_location_ids'] = opts[:'work_location_ids'] if !opts[:'work_location_ids'].nil?
      query_params[:'work_emails'] = opts[:'work_emails'] if !opts[:'work_emails'].nil?
      query_params[:'personal_emails'] = opts[:'personal_emails'] if !opts[:'personal_emails'].nil?
      query_params[:'custom_fields'] = opts[:'custom_fields'] if !opts[:'custom_fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetHrisEmployeesPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedHRISAPIApi.get_hris_employees",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedHRISAPIApi#get_hris_employees\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get employee form
    # Get the form for creating an employee. This form can be rendered dynamically on your frontend to allow your customers to create employees in their HRIS.  Follow our [create employee guide here](/hris/features/create-employee) to learn how this form is generated and how you can use it.  ### Example Form ```json {   \"properties\": {     \"firstName\": {       \"type\": \"text\",       \"label\": \"First Name\",       \"required\": true,       \"description\": \"Employee's first name\",       \"unified_key\": \"first_name\",       \"min_length\": 1,       \"max_length\": 100     },     \"startDate\": {       \"type\": \"date\",       \"label\": \"Start Date\",       \"required\": true,       \"description\": \"Employee's start date\",       \"unified_key\": \"start_date\"     },     \"workLocation\": {       \"type\": \"object\",       \"label\": \"Work Location\",       \"required\": false,       \"description\": \"Employee's work location\",       \"unified_key\": null,       \"properties\": {         \"site\": {           \"type\": \"single_select\",           \"label\": \"Site\",           \"required\": true,           \"description\": \"Employee's site\",           \"unified_key\": null,           \"options\": {             \"type\": \"inline\",             \"entries\": [               {                 \"label\": \"Site 1\",                 \"id\": \"FXrER44xubBqA9DLgZ3PFNNx\",                 \"unified_value\": \"1\",                 \"remote_id\": \"site_1\"               },               {                 \"label\": \"Site 2\",                 \"id\": \"2rv75UKT2XBoQXsUb9agiTUm\",                 \"unified_value\": \"2\",                 \"remote_id\": \"site_2\"               }             ]           }         },         \"keyNumbers\": {           \"type\": \"array\",           \"label\": \"Key Numbers\",           \"required\": false,           \"description\": \"Employee's key numbers\",           \"unified_key\": null,           \"min_items\": 2,           \"max_items\": 5,           \"item_type\": {             \"type\": \"number\",             \"label\": \"Key Number\",             \"required\": false,             \"description\": \"The number of the keys which belong to the employee\",             \"unified_key\": null,             \"min\": 0,             \"max\": 99           }         }       }     }   } } ```
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @return [GetHrisEmployeesFormPositiveResponse]
    def get_hris_employees_form(x_integration_id, opts = {})
      data, _status_code, _headers = get_hris_employees_form_with_http_info(x_integration_id, opts)
      data
    end

    # Get employee form
    # Get the form for creating an employee. This form can be rendered dynamically on your frontend to allow your customers to create employees in their HRIS.  Follow our [create employee guide here](/hris/features/create-employee) to learn how this form is generated and how you can use it.  ### Example Form &#x60;&#x60;&#x60;json {   \&quot;properties\&quot;: {     \&quot;firstName\&quot;: {       \&quot;type\&quot;: \&quot;text\&quot;,       \&quot;label\&quot;: \&quot;First Name\&quot;,       \&quot;required\&quot;: true,       \&quot;description\&quot;: \&quot;Employee&#39;s first name\&quot;,       \&quot;unified_key\&quot;: \&quot;first_name\&quot;,       \&quot;min_length\&quot;: 1,       \&quot;max_length\&quot;: 100     },     \&quot;startDate\&quot;: {       \&quot;type\&quot;: \&quot;date\&quot;,       \&quot;label\&quot;: \&quot;Start Date\&quot;,       \&quot;required\&quot;: true,       \&quot;description\&quot;: \&quot;Employee&#39;s start date\&quot;,       \&quot;unified_key\&quot;: \&quot;start_date\&quot;     },     \&quot;workLocation\&quot;: {       \&quot;type\&quot;: \&quot;object\&quot;,       \&quot;label\&quot;: \&quot;Work Location\&quot;,       \&quot;required\&quot;: false,       \&quot;description\&quot;: \&quot;Employee&#39;s work location\&quot;,       \&quot;unified_key\&quot;: null,       \&quot;properties\&quot;: {         \&quot;site\&quot;: {           \&quot;type\&quot;: \&quot;single_select\&quot;,           \&quot;label\&quot;: \&quot;Site\&quot;,           \&quot;required\&quot;: true,           \&quot;description\&quot;: \&quot;Employee&#39;s site\&quot;,           \&quot;unified_key\&quot;: null,           \&quot;options\&quot;: {             \&quot;type\&quot;: \&quot;inline\&quot;,             \&quot;entries\&quot;: [               {                 \&quot;label\&quot;: \&quot;Site 1\&quot;,                 \&quot;id\&quot;: \&quot;FXrER44xubBqA9DLgZ3PFNNx\&quot;,                 \&quot;unified_value\&quot;: \&quot;1\&quot;,                 \&quot;remote_id\&quot;: \&quot;site_1\&quot;               },               {                 \&quot;label\&quot;: \&quot;Site 2\&quot;,                 \&quot;id\&quot;: \&quot;2rv75UKT2XBoQXsUb9agiTUm\&quot;,                 \&quot;unified_value\&quot;: \&quot;2\&quot;,                 \&quot;remote_id\&quot;: \&quot;site_2\&quot;               }             ]           }         },         \&quot;keyNumbers\&quot;: {           \&quot;type\&quot;: \&quot;array\&quot;,           \&quot;label\&quot;: \&quot;Key Numbers\&quot;,           \&quot;required\&quot;: false,           \&quot;description\&quot;: \&quot;Employee&#39;s key numbers\&quot;,           \&quot;unified_key\&quot;: null,           \&quot;min_items\&quot;: 2,           \&quot;max_items\&quot;: 5,           \&quot;item_type\&quot;: {             \&quot;type\&quot;: \&quot;number\&quot;,             \&quot;label\&quot;: \&quot;Key Number\&quot;,             \&quot;required\&quot;: false,             \&quot;description\&quot;: \&quot;The number of the keys which belong to the employee\&quot;,             \&quot;unified_key\&quot;: null,             \&quot;min\&quot;: 0,             \&quot;max\&quot;: 99           }         }       }     }   } } &#x60;&#x60;&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetHrisEmployeesFormPositiveResponse, Integer, Hash)>] GetHrisEmployeesFormPositiveResponse data, response status code and response headers
    def get_hris_employees_form_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedHRISAPIApi.get_hris_employees_form ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedHRISAPIApi.get_hris_employees_form"
      end
      # resource path
      local_var_path = '/hris/employees/form'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetHrisEmployeesFormPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedHRISAPIApi.get_hris_employees_form",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedHRISAPIApi#get_hris_employees_form\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get employments
    # Retrieve all employments.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetHrisEmploymentsParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @return [GetHrisEmploymentsPositiveResponse]
    def get_hris_employments(x_integration_id, opts = {})
      data, _status_code, _headers = get_hris_employments_with_http_info(x_integration_id, opts)
      data
    end

    # Get employments
    # Retrieve all employments.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: &#x60;(id IN ids) AND (remote_id IN remote_ids)&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetHrisEmploymentsParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @return [Array<(GetHrisEmploymentsPositiveResponse, Integer, Hash)>] GetHrisEmploymentsPositiveResponse data, response status code and response headers
    def get_hris_employments_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedHRISAPIApi.get_hris_employments ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedHRISAPIApi.get_hris_employments"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedHRISAPIApi.get_hris_employments, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedHRISAPIApi.get_hris_employments, must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}(T\d{2}:\d{2}:\d{2}(\.\d+)?)?Z?$/)
      if @api_client.config.client_side_validation && !opts[:'updated_after'].nil? && opts[:'updated_after'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"updated_after\"]' when calling UnifiedHRISAPIApi.get_hris_employments, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/hris/employments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'remote_ids'] = opts[:'remote_ids'] if !opts[:'remote_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetHrisEmploymentsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedHRISAPIApi.get_hris_employments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedHRISAPIApi#get_hris_employments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get groups
    # Retrieve all \"groups\" (teams, departments, and cost centers).  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetHrisGroupsParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [String] :types Filter by a comma-separated list of group types: &#x60;DEPARTMENT&#x60;, &#x60;TEAM&#x60;, &#x60;COST_CENTER&#x60;, or &#x60;null&#x60; to filter groups without a type.   Leave this blank to get results matching all values.
    # @option opts [String] :name_contains Filter by the &#x60;name&#x60; field. Can be used to find a group by keywords present in the group name.
    # @return [GetHrisGroupsPositiveResponse]
    def get_hris_groups(x_integration_id, opts = {})
      data, _status_code, _headers = get_hris_groups_with_http_info(x_integration_id, opts)
      data
    end

    # Get groups
    # Retrieve all \&quot;groups\&quot; (teams, departments, and cost centers).  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: &#x60;(id IN ids) AND (remote_id IN remote_ids)&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetHrisGroupsParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [String] :types Filter by a comma-separated list of group types: &#x60;DEPARTMENT&#x60;, &#x60;TEAM&#x60;, &#x60;COST_CENTER&#x60;, or &#x60;null&#x60; to filter groups without a type.   Leave this blank to get results matching all values.
    # @option opts [String] :name_contains Filter by the &#x60;name&#x60; field. Can be used to find a group by keywords present in the group name.
    # @return [Array<(GetHrisGroupsPositiveResponse, Integer, Hash)>] GetHrisGroupsPositiveResponse data, response status code and response headers
    def get_hris_groups_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedHRISAPIApi.get_hris_groups ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedHRISAPIApi.get_hris_groups"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedHRISAPIApi.get_hris_groups, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedHRISAPIApi.get_hris_groups, must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}(T\d{2}:\d{2}:\d{2}(\.\d+)?)?Z?$/)
      if @api_client.config.client_side_validation && !opts[:'updated_after'].nil? && opts[:'updated_after'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"updated_after\"]' when calling UnifiedHRISAPIApi.get_hris_groups, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/hris/groups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'remote_ids'] = opts[:'remote_ids'] if !opts[:'remote_ids'].nil?
      query_params[:'types'] = opts[:'types'] if !opts[:'types'].nil?
      query_params[:'name_contains'] = opts[:'name_contains'] if !opts[:'name_contains'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetHrisGroupsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedHRISAPIApi.get_hris_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedHRISAPIApi#get_hris_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get job positions
    # Get job positions    <Warning>**Closed Beta Feature:** This endpoint is currently in closed beta. We're testing it with selected customers before its public release. If you're interested in learning more or getting early access, please reach out.</Warning>    Retrieve all job positions from the HRIS system. Job positions represent the organizational structure and include information about required skills, department, location, and reporting relationships.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @return [GetHrisJobPositionsPositiveResponse]
    def get_hris_job_positions(x_integration_id, opts = {})
      data, _status_code, _headers = get_hris_job_positions_with_http_info(x_integration_id, opts)
      data
    end

    # Get job positions
    # Get job positions    &lt;Warning&gt;**Closed Beta Feature:** This endpoint is currently in closed beta. We&#39;re testing it with selected customers before its public release. If you&#39;re interested in learning more or getting early access, please reach out.&lt;/Warning&gt;    Retrieve all job positions from the HRIS system. Job positions represent the organizational structure and include information about required skills, department, location, and reporting relationships.
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @return [Array<(GetHrisJobPositionsPositiveResponse, Integer, Hash)>] GetHrisJobPositionsPositiveResponse data, response status code and response headers
    def get_hris_job_positions_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedHRISAPIApi.get_hris_job_positions ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedHRISAPIApi.get_hris_job_positions"
      end
      # resource path
      local_var_path = '/hris/job-positions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'remote_ids'] = opts[:'remote_ids'] if !opts[:'remote_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetHrisJobPositionsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedHRISAPIApi.get_hris_job_positions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedHRISAPIApi#get_hris_job_positions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get legal entities
    # Retrieve all legal entites.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetHrisLegalEntitiesParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [String] :name_contains Filter by the &#x60;name&#x60; field. Can be used to find a legal entity by keywords present in the legal entity name.
    # @return [GetHrisLegalEntitiesPositiveResponse]
    def get_hris_legal_entities(x_integration_id, opts = {})
      data, _status_code, _headers = get_hris_legal_entities_with_http_info(x_integration_id, opts)
      data
    end

    # Get legal entities
    # Retrieve all legal entites.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: &#x60;(id IN ids) AND (remote_id IN remote_ids)&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetHrisLegalEntitiesParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [String] :name_contains Filter by the &#x60;name&#x60; field. Can be used to find a legal entity by keywords present in the legal entity name.
    # @return [Array<(GetHrisLegalEntitiesPositiveResponse, Integer, Hash)>] GetHrisLegalEntitiesPositiveResponse data, response status code and response headers
    def get_hris_legal_entities_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedHRISAPIApi.get_hris_legal_entities ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedHRISAPIApi.get_hris_legal_entities"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedHRISAPIApi.get_hris_legal_entities, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedHRISAPIApi.get_hris_legal_entities, must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}(T\d{2}:\d{2}:\d{2}(\.\d+)?)?Z?$/)
      if @api_client.config.client_side_validation && !opts[:'updated_after'].nil? && opts[:'updated_after'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"updated_after\"]' when calling UnifiedHRISAPIApi.get_hris_legal_entities, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/hris/legal-entities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'remote_ids'] = opts[:'remote_ids'] if !opts[:'remote_ids'].nil?
      query_params[:'name_contains'] = opts[:'name_contains'] if !opts[:'name_contains'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetHrisLegalEntitiesPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedHRISAPIApi.get_hris_legal_entities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedHRISAPIApi#get_hris_legal_entities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get work locations
    # Retrieve all work locations.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetHrisLocationsParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [String] :name_contains Filter by the &#x60;name&#x60; field. Can be used to find a location by keywords present in the location name.
    # @return [GetHrisLocationsPositiveResponse]
    def get_hris_locations(x_integration_id, opts = {})
      data, _status_code, _headers = get_hris_locations_with_http_info(x_integration_id, opts)
      data
    end

    # Get work locations
    # Retrieve all work locations.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: &#x60;(id IN ids) AND (remote_id IN remote_ids)&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetHrisLocationsParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [String] :name_contains Filter by the &#x60;name&#x60; field. Can be used to find a location by keywords present in the location name.
    # @return [Array<(GetHrisLocationsPositiveResponse, Integer, Hash)>] GetHrisLocationsPositiveResponse data, response status code and response headers
    def get_hris_locations_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedHRISAPIApi.get_hris_locations ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedHRISAPIApi.get_hris_locations"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedHRISAPIApi.get_hris_locations, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedHRISAPIApi.get_hris_locations, must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}(T\d{2}:\d{2}:\d{2}(\.\d+)?)?Z?$/)
      if @api_client.config.client_side_validation && !opts[:'updated_after'].nil? && opts[:'updated_after'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"updated_after\"]' when calling UnifiedHRISAPIApi.get_hris_locations, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/hris/locations'

[...]
