=begin
#Kombo API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Kombo
  class UnifiedLMSAPIApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get course progressions
    # Get course progressions  Retrieve all course progressions from the LMS system. Course progressions track users enrollment and completion status in courses.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetLmsCourseProgressionsParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [String] :user_ids Filter by a comma-separated list of user IDs. We will only return progressions that are related to _any_ of the users.
    # @return [GetLmsCourseProgressionsPositiveResponse]
    def get_lms_course_progressions(x_integration_id, opts = {})
      data, _status_code, _headers = get_lms_course_progressions_with_http_info(x_integration_id, opts)
      data
    end

    # Get course progressions
    # Get course progressions  Retrieve all course progressions from the LMS system. Course progressions track users enrollment and completion status in courses.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: &#x60;(id IN ids) AND (remote_id IN remote_ids)&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetLmsCourseProgressionsParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [String] :user_ids Filter by a comma-separated list of user IDs. We will only return progressions that are related to _any_ of the users.
    # @return [Array<(GetLmsCourseProgressionsPositiveResponse, Integer, Hash)>] GetLmsCourseProgressionsPositiveResponse data, response status code and response headers
    def get_lms_course_progressions_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedLMSAPIApi.get_lms_course_progressions ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedLMSAPIApi.get_lms_course_progressions"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedLMSAPIApi.get_lms_course_progressions, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedLMSAPIApi.get_lms_course_progressions, must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}(T\d{2}:\d{2}:\d{2}(\.\d+)?)?Z?$/)
      if @api_client.config.client_side_validation && !opts[:'updated_after'].nil? && opts[:'updated_after'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"updated_after\"]' when calling UnifiedLMSAPIApi.get_lms_course_progressions, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/lms/course-progressions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'remote_ids'] = opts[:'remote_ids'] if !opts[:'remote_ids'].nil?
      query_params[:'user_ids'] = opts[:'user_ids'] if !opts[:'user_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLmsCourseProgressionsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedLMSAPIApi.get_lms_course_progressions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedLMSAPIApi#get_lms_course_progressions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get courses
    # Get courses  Retrieve all courses available in the LMS. Courses are structured learning programs that users can enroll in and complete.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetLmsCoursesParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @return [GetLmsCoursesPositiveResponse]
    def get_lms_courses(x_integration_id, opts = {})
      data, _status_code, _headers = get_lms_courses_with_http_info(x_integration_id, opts)
      data
    end

    # Get courses
    # Get courses  Retrieve all courses available in the LMS. Courses are structured learning programs that users can enroll in and complete.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: &#x60;(id IN ids) AND (remote_id IN remote_ids)&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetLmsCoursesParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @return [Array<(GetLmsCoursesPositiveResponse, Integer, Hash)>] GetLmsCoursesPositiveResponse data, response status code and response headers
    def get_lms_courses_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedLMSAPIApi.get_lms_courses ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedLMSAPIApi.get_lms_courses"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedLMSAPIApi.get_lms_courses, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedLMSAPIApi.get_lms_courses, must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}(T\d{2}:\d{2}:\d{2}(\.\d+)?)?Z?$/)
      if @api_client.config.client_side_validation && !opts[:'updated_after'].nil? && opts[:'updated_after'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"updated_after\"]' when calling UnifiedLMSAPIApi.get_lms_courses, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/lms/courses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'remote_ids'] = opts[:'remote_ids'] if !opts[:'remote_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLmsCoursesPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedLMSAPIApi.get_lms_courses",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedLMSAPIApi#get_lms_courses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get skills
    # Get skills  Retrieve all skills available in the LMS system. Skills represent competencies or abilities that users can acquire or demonstrate through courses.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetLmsSkillsParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @return [GetLmsSkillsPositiveResponse]
    def get_lms_skills(x_integration_id, opts = {})
      data, _status_code, _headers = get_lms_skills_with_http_info(x_integration_id, opts)
      data
    end

    # Get skills
    # Get skills  Retrieve all skills available in the LMS system. Skills represent competencies or abilities that users can acquire or demonstrate through courses.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: &#x60;(id IN ids) AND (remote_id IN remote_ids)&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetLmsSkillsParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @return [Array<(GetLmsSkillsPositiveResponse, Integer, Hash)>] GetLmsSkillsPositiveResponse data, response status code and response headers
    def get_lms_skills_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedLMSAPIApi.get_lms_skills ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedLMSAPIApi.get_lms_skills"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedLMSAPIApi.get_lms_skills, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedLMSAPIApi.get_lms_skills, must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}(T\d{2}:\d{2}:\d{2}(\.\d+)?)?Z?$/)
      if @api_client.config.client_side_validation && !opts[:'updated_after'].nil? && opts[:'updated_after'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"updated_after\"]' when calling UnifiedLMSAPIApi.get_lms_skills, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/lms/skills'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'remote_ids'] = opts[:'remote_ids'] if !opts[:'remote_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLmsSkillsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedLMSAPIApi.get_lms_skills",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedLMSAPIApi#get_lms_skills\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get users
    # Get users  Retrieve all users from the LMS system. Users are learners who can enroll in and complete courses.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetLmsUsersParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [String] :work_emails Filter by a comma-separated list of work emails. We will only return users who have _any_ of the work emails. The format of the emails is case-insensitive.
    # @return [GetLmsUsersPositiveResponse]
    def get_lms_users(x_integration_id, opts = {})
      data, _status_code, _headers = get_lms_users_with_http_info(x_integration_id, opts)
      data
    end

    # Get users
    # Get users  Retrieve all users from the LMS system. Users are learners who can enroll in and complete courses.  Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: &#x60;(id IN ids) AND (remote_id IN remote_ids)&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An optional cursor string used for pagination. This can be retrieved from the &#x60;next&#x60; property of the previous page response.
    # @option opts [Integer] :page_size The number of results to return per page. Maximum is 250. (default to 100)
    # @option opts [Time] :updated_after Filter the entries based on the modification date in format &#x60;YYYY-MM-DDTHH:mm:ss.sssZ&#x60;. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record&#39;s own &#x60;changed_at&#x60; field remains unchanged.  If you want to track entry deletion, also set the &#x60;include_deleted&#x3D;true&#x60; query parameter, because otherwise, deleted entries will be hidden.  For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).
    # @option opts [GetLmsUsersParameterIncludeDeleted] :include_deleted By default, deleted entries are not returned. Use the &#x60;include_deleted&#x60; query param to include deleted entries too. (default to 'false')
    # @option opts [String] :ids Filter by a comma-separated list of IDs such as &#x60;222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3&#x60;.
    # @option opts [String] :remote_ids Filter by a comma-separated list of remote IDs.
    # @option opts [String] :work_emails Filter by a comma-separated list of work emails. We will only return users who have _any_ of the work emails. The format of the emails is case-insensitive.
    # @return [Array<(GetLmsUsersPositiveResponse, Integer, Hash)>] GetLmsUsersPositiveResponse data, response status code and response headers
    def get_lms_users_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedLMSAPIApi.get_lms_users ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedLMSAPIApi.get_lms_users"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedLMSAPIApi.get_lms_users, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UnifiedLMSAPIApi.get_lms_users, must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}(T\d{2}:\d{2}:\d{2}(\.\d+)?)?Z?$/)
      if @api_client.config.client_side_validation && !opts[:'updated_after'].nil? && opts[:'updated_after'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"updated_after\"]' when calling UnifiedLMSAPIApi.get_lms_users, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/lms/users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'remote_ids'] = opts[:'remote_ids'] if !opts[:'remote_ids'].nil?
      query_params[:'work_emails'] = opts[:'work_emails'] if !opts[:'work_emails'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLmsUsersPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedLMSAPIApi.get_lms_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedLMSAPIApi#get_lms_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enroll user in course
    # Enroll a user in a course revision.  <Note>   This endpoint requires the permission **Create and manage course progressions** to be enabled in [your scope config](/scopes). </Note>  ### Example Request Body  ```json {   \"user_id\": \"7xPdr68N8kG9EzLwjsN9xyz\",   \"course_revision_id\": \"3KMdr68N8kG9EzLwjsN9aoz\" } ```
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [PostLmsCourseProgressionsRequestBody] :post_lms_course_progressions_request_body POST /lms/course-progressions Request body
    # @return [PostLmsCourseProgressionsPositiveResponse]
    def post_lms_course_progressions(x_integration_id, opts = {})
      data, _status_code, _headers = post_lms_course_progressions_with_http_info(x_integration_id, opts)
      data
    end

    # Enroll user in course
    # Enroll a user in a course revision.  &lt;Note&gt;   This endpoint requires the permission **Create and manage course progressions** to be enabled in [your scope config](/scopes). &lt;/Note&gt;  ### Example Request Body  &#x60;&#x60;&#x60;json {   \&quot;user_id\&quot;: \&quot;7xPdr68N8kG9EzLwjsN9xyz\&quot;,   \&quot;course_revision_id\&quot;: \&quot;3KMdr68N8kG9EzLwjsN9aoz\&quot; } &#x60;&#x60;&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [PostLmsCourseProgressionsRequestBody] :post_lms_course_progressions_request_body POST /lms/course-progressions Request body
    # @return [Array<(PostLmsCourseProgressionsPositiveResponse, Integer, Hash)>] PostLmsCourseProgressionsPositiveResponse data, response status code and response headers
    def post_lms_course_progressions_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedLMSAPIApi.post_lms_course_progressions ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedLMSAPIApi.post_lms_course_progressions"
      end
      # resource path
      local_var_path = '/lms/course-progressions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_lms_course_progressions_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostLmsCourseProgressionsPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedLMSAPIApi.post_lms_course_progressions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedLMSAPIApi#post_lms_course_progressions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Complete course
    # Mark a course revision as completed for a user.  <Note>   This endpoint requires the permission **Create and manage course progressions** to be enabled in [your scope config](/scopes). </Note>  ### Example Request Body  ```json {   \"completed_at\": \"2024-04-15\" } ```
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param course_progression_id [String] The ID of the course progression in Kombo or its ID in the remote system by prefixing it with &#x60;remote:&#x60; (e.g., &#x60;remote:12312&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [PostLmsCourseProgressionsCourseProgressionIdCompleteRequestBody] :post_lms_course_progressions_course_progression_id_complete_request_body POST /lms/course-progressions/:course_progression_id/complete Request body
    # @return [PostLmsCourseProgressionsCourseProgressionIdCompletePositiveResponse]
    def post_lms_course_progressions_course_progression_id_complete(x_integration_id, course_progression_id, opts = {})
      data, _status_code, _headers = post_lms_course_progressions_course_progression_id_complete_with_http_info(x_integration_id, course_progression_id, opts)
      data
    end

    # Complete course
    # Mark a course revision as completed for a user.  &lt;Note&gt;   This endpoint requires the permission **Create and manage course progressions** to be enabled in [your scope config](/scopes). &lt;/Note&gt;  ### Example Request Body  &#x60;&#x60;&#x60;json {   \&quot;completed_at\&quot;: \&quot;2024-04-15\&quot; } &#x60;&#x60;&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param course_progression_id [String] The ID of the course progression in Kombo or its ID in the remote system by prefixing it with &#x60;remote:&#x60; (e.g., &#x60;remote:12312&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [PostLmsCourseProgressionsCourseProgressionIdCompleteRequestBody] :post_lms_course_progressions_course_progression_id_complete_request_body POST /lms/course-progressions/:course_progression_id/complete Request body
    # @return [Array<(PostLmsCourseProgressionsCourseProgressionIdCompletePositiveResponse, Integer, Hash)>] PostLmsCourseProgressionsCourseProgressionIdCompletePositiveResponse data, response status code and response headers
    def post_lms_course_progressions_course_progression_id_complete_with_http_info(x_integration_id, course_progression_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedLMSAPIApi.post_lms_course_progressions_course_progression_id_complete ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedLMSAPIApi.post_lms_course_progressions_course_progression_id_complete"
      end
      # verify the required parameter 'course_progression_id' is set
      if @api_client.config.client_side_validation && course_progression_id.nil?
        fail ArgumentError, "Missing the required parameter 'course_progression_id' when calling UnifiedLMSAPIApi.post_lms_course_progressions_course_progression_id_complete"
      end
      # resource path
      local_var_path = '/lms/course-progressions/{course_progression_id}/complete'.sub('{' + 'course_progression_id' + '}', CGI.escape(course_progression_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_lms_course_progressions_course_progression_id_complete_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostLmsCourseProgressionsCourseProgressionIdCompletePositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedLMSAPIApi.post_lms_course_progressions_course_progression_id_complete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedLMSAPIApi#post_lms_course_progressions_course_progression_id_complete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create course
    # Create a new course in the LMS.  <Note>   This endpoint requires the permission **Create courses** to be enabled in [your scope config](/scopes). </Note>  ### Example Request Body  ```json {   \"course\": {     \"type\": \"EXTERNAL\",     \"title\": \"Building LMS integrations with Kombo\",     \"description\": \"Learn how to build and integrate Learning Management System (LMS) integrations with Kombo. This course covers the unified LMS API, course management, user enrollment, progress tracking, and best practices for building robust LMS connectors.\",     \"course_url\": \"https://docs.kombo.dev/lms/introduction\",     \"thumbnail_url\": \"https://kombo.dev/images/courses/lms-integrations-thumbnail.png\"   } } ```
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [PostLmsCoursesRequestBody] :post_lms_courses_request_body POST /lms/courses Request body
    # @return [PostLmsCoursesPositiveResponse]
    def post_lms_courses(x_integration_id, opts = {})
      data, _status_code, _headers = post_lms_courses_with_http_info(x_integration_id, opts)
      data
    end

    # Create course
    # Create a new course in the LMS.  &lt;Note&gt;   This endpoint requires the permission **Create courses** to be enabled in [your scope config](/scopes). &lt;/Note&gt;  ### Example Request Body  &#x60;&#x60;&#x60;json {   \&quot;course\&quot;: {     \&quot;type\&quot;: \&quot;EXTERNAL\&quot;,     \&quot;title\&quot;: \&quot;Building LMS integrations with Kombo\&quot;,     \&quot;description\&quot;: \&quot;Learn how to build and integrate Learning Management System (LMS) integrations with Kombo. This course covers the unified LMS API, course management, user enrollment, progress tracking, and best practices for building robust LMS connectors.\&quot;,     \&quot;course_url\&quot;: \&quot;https://docs.kombo.dev/lms/introduction\&quot;,     \&quot;thumbnail_url\&quot;: \&quot;https://kombo.dev/images/courses/lms-integrations-thumbnail.png\&quot;   } } &#x60;&#x60;&#x60;
    # @param x_integration_id [String] ID of the integration you want to interact with.
    # @param [Hash] opts the optional parameters
    # @option opts [PostLmsCoursesRequestBody] :post_lms_courses_request_body POST /lms/courses Request body
    # @return [Array<(PostLmsCoursesPositiveResponse, Integer, Hash)>] PostLmsCoursesPositiveResponse data, response status code and response headers
    def post_lms_courses_with_http_info(x_integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnifiedLMSAPIApi.post_lms_courses ...'
      end
      # verify the required parameter 'x_integration_id' is set
      if @api_client.config.client_side_validation && x_integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_integration_id' when calling UnifiedLMSAPIApi.post_lms_courses"
      end
      # resource path
      local_var_path = '/lms/courses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Integration-Id'] = x_integration_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_lms_courses_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostLmsCoursesPositiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"UnifiedLMSAPIApi.post_lms_courses",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnifiedLMSAPIApi#post_lms_courses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
